@import url("common.css");
header {
  font-weight: bold;
  z-index: 9999;
  position: relative;
}

header .depth_01 {
  font-weight: 400;
}

header .header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .header_wrap .header_logo {
  margin-left: 40px;
}

header .header_wrap .header_logo a {
  display: block;
  width: 100%;
  height: 100%;
}

header .header_wrap .header_center {
  width: 80%;
  height: 85px;
  margin: 0 auto;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_wrap .header_center a {
  display: block;
}

header .header_wrap .header_center .header_bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: #fff;
  width: 100%;
  height: 235px;
  display: none;
}

header .header_wrap .header_center > li {
  width: 20%;
  font-size: 1.8rem;
  height: 100%;
  text-align: center;
  line-height: 50px;
  -webkit-transition: .3s;
  transition: .3s;
}

header .header_wrap .header_center > li > a {
  -webkit-transition: .3s;
  transition: .3s;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header_wrap .header_center > li .depth_01 {
  -webkit-transition: .3s;
  transition: .3s;
}

header .header_wrap .header_center > li .depth_01 li {
  -webkit-transition: .3s;
  transition: .3s;
}

header .header_wrap .header_center > li .depth_01 li a {
  -webkit-transition: .3s;
  transition: .3s;
}

header .header_wrap .header_center > li .depth_01 li:hover {
  background: #fff;
}

header .header_wrap .header_center > li .depth_01 li:hover a {
  color: #005baa;
}

header .header_wrap .header_center > li:hover {
  background: #005baa;
}

header .header_wrap .header_center > li:hover > a {
  color: #fff;
}

header .header_wrap .header_center > li:hover .depth_01 {
  background: #c1e2ff;
}

header .header_wrap .header_center .depth_01 {
  display: none;
}

header .header_wrap .header_right {
  position: relative;
  cursor: pointer;
  display: none;
  width: 22px;
  height: 22px;
}

header .header_wrap .header_right span {
  position: absolute;
  left: 0;
  display: block;
  width: 22px;
  border-bottom: 2px solid #000;
  -webkit-transition: .3s;
  transition: .3s;
}

header .header_wrap .header_right span:nth-of-type(1) {
  top: 0;
}

header .header_wrap .header_right span:nth-of-type(2) {
  top: calc(50% - 1px);
}

header .header_wrap .header_right span:nth-of-type(3) {
  bottom: 0;
}

header .header_wrap .header_right:nth-of-type(3):hover span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: calc(50% - 1px);
}

header .header_wrap .header_right:nth-of-type(3):hover span:nth-of-type(2) {
  opacity: 0;
}

header .header_wrap .header_right:nth-of-type(3):hover span:nth-of-type(3) {
  transform: rotate(-45deg);
  bottom: calc(50% - 1px);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

header .header_wrap:hover .header_center .depth_01 {
  display: block;
}

header .header_wrap:hover .header_center .header_bg {
  display: block;
}

.header_background_menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background: #fff;
  z-index: 9998;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_background_menu > ul {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_background_menu > ul > li {
  width: 50%;
  text-align: center;
  position: relative;
}

.header_background_menu > ul > li > a {
  display: block;
  font-size: 3rem;
  font-weight: bold;
}

.header_background_menu > ul > li > a:hover {
  color: #005baa;
}

.header_background_menu > ul > li .m_depth_01 {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 100%;
  left: 0;
  -webkit-transition: .25s;
  transition: .25s;
  opacity: 0;
}

.header_background_menu > ul > li .m_depth_01 li a {
  color: #777;
  font-size: 1.6rem;
  font-weight: bold;
  -webkit-transition: .25s;
  transition: .25s;
}

.header_background_menu > ul > li .m_depth_01 li a:hover {
  color: #005baa;
}

.header_background_menu > ul > li:hover .m_depth_01 {
  opacity: 1;
}

.header_background_menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

main {
  margin: 0 auto;
  position: relative;
}

main .main_wrap {
  width: 100%;
}

main .main_wrap > article {
  width: 70%;
  margin: 0 auto;
}

main .main_wrap .main_wrap_01 {
  width: 100%;
  height: 750px;
  position: relative;
}

main .main_wrap .main_wrap_01 .swiper-container {
  width: 100%;
  height: 100%;
}

main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}

main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .slide_01 {
  background: no-repeat center/cover url("../images/main_visual_01.png");
}

main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .slide_02 {
  background: no-repeat center/cover url("../images/main_visual_02.png");
}

main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}

main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .swiper-slide .slide_textbox {
  color: #fff;
  position: absolute;
  left: 15%;
  top: 50%;
  -webkit-transform: translate(-15%, -50%);
          transform: translate(-15%, -50%);
}

main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .swiper-slide .slide_textbox .textbox_title {
  font-size: 6rem;
  font-weight: bold;
  line-height: 68px;
  letter-spacing: -1.5px;
  position: relative;
}

main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .swiper-slide .slide_textbox .textbox_title::after {
  content: '';
  position: absolute;
  left: -29px;
  top: 0;
  width: 60px;
  height: 60px;
  background: #005baa;
  z-index: -1;
}

main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .swiper-slide .slide_textbox .textbox_title::before {
  content: '';
  position: absolute;
  left: -45px;
  bottom: 10px;
  width: 35px;
  height: 35px;
  background: #80c342;
  z-index: -1;
}

main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .swiper-slide .slide_textbox .textbox_sub {
  font-family: "NotoSansCJKkr-Regular";
  display: block;
  margin-top: 20px;
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: -0.5px;
}

main .main_wrap .main_wrap_01 .swiper-container .text_swiper {
  display: none;
  position: absolute;
  left: 310px;
  top: 200px;
  z-index: 9999;
}

main .main_wrap .main_wrap_02 {
  margin-top: 180px;
  width: 70%;
  max-width: 1320px;
}

main .main_wrap .main_wrap_02 .content_01 {
  font-size: 6rem;
  line-height: 1.2;
  letter-spacing: -1.5px;
}

main .main_wrap .main_wrap_02 .bar {
  display: block;
  margin-top: 15px;
  background: #e5e5e5;
  position: relative;
}

main .main_wrap .main_wrap_02 .bar::after {
  content: '';
  display: block;
  background: #005baa;
  width: 100px;
  height: 5px;
}

main .main_wrap .main_wrap_02 .cotent_02 {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main_wrap .main_wrap_02 .cotent_02 div:nth-of-type(2) {
  margin-left: 50px;
}

main .main_wrap .main_wrap_02 .cotent_02 div:nth-of-type(3) {
  margin-left: 100px;
}

main .main_wrap .main_wrap_02 .cotent_02 > div {
  width: 250px;
}

main .main_wrap .main_wrap_02 .cotent_02 > div span {
  font-size: 3rem;
  display: block;
  position: relative;
}

main .main_wrap .main_wrap_02 .cotent_02 > div span strong {
  font-size: 8rem;
  font-family: 'S-CoreDream-6Bold';
  font-weight: bold;
}

main .main_wrap .main_wrap_03 {
  margin-top: 180px;
  max-width: 1320px;
}

main .main_wrap .main_wrap_03 .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main_wrap .main_wrap_03 .wrap .content_01 {
  height: 320px;
}

main .main_wrap .main_wrap_03 .wrap .content_02 {
  height: 410px;
}

main .main_wrap .main_wrap_03 .wrap .text_wrap_01 {
  position: relative;
  padding: 40px 40px;
  width: 650px;
  height: 100%;
  background: #fff;
}

main .main_wrap .main_wrap_03 .wrap .text_wrap_01 .text_01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 4rem;
}

main .main_wrap .main_wrap_03 .wrap .text_wrap_01 .text_01 > a {
  display: block;
  width: 35px;
  height: 35px;
}

main .main_wrap .main_wrap_03 .wrap .text_wrap_01 .text_01 > a img {
  width: 100%;
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

main .main_wrap .main_wrap_03 .wrap .text_wrap_01 .text_01 > a img:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main .main_wrap .main_wrap_03 .wrap .text_wrap_01::after {
  content: '';
  width: 60px;
  height: 60px;
  z-index: -1;
}

main .main_wrap .main_wrap_03 .wrap .content_01 {
  margin-right: 20px;
  font-size: 2rem;
  letter-spacing: -0.5px;
}

main .main_wrap .main_wrap_03 .wrap .content_01 .text_wrap_01 {
  border: 5px solid #005baa;
}

main .main_wrap .main_wrap_03 .wrap .content_01 .text_wrap_01::after {
  position: absolute;
  left: -30px;
  bottom: -30px;
  background: #005baa;
}

main .main_wrap .main_wrap_03 .wrap .content_01 .text_wrap_01 .text_02 {
  margin-top: 35px;
  display: block;
}

main .main_wrap .main_wrap_03 .wrap .content_02 {
  margin-top: 50px;
}

main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 {
  border: 5px solid #80c342;
}

main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01::after {
  position: absolute;
  right: -30px;
  top: -30px;
  background: #80c342;
}

main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .bar {
  display: block;
  margin: 15px 0 35px 0;
  background: #e5e5e5;
  position: relative;
  width: 50%;
}

main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .bar::after {
  content: '';
  display: block;
  background: #005baa;
  width: 50%;
  height: 5px;
}

main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_01 {
  margin-bottom: 35px;
}

main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  padding: 5px 0;
}

main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_02 .text_02_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1;
}

main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_02 .text_02_date strong {
  font-size: 4rem;
}

main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_02 .text_02_date small {
  font-size: 1.8rem;
}

main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_02 .text_02_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
  overflow: hidden;
}

main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_02 .text_02_detail p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main .main_wrap .main_wrap_04 {
  width: 100%;
  margin-top: 180px;
}

main .main_wrap .main_wrap_04 .wrap {
  margin-left: 300px;
}

main .main_wrap .main_wrap_04 .wrap .main_wrap_title h2 {
  font-size: 4rem;
  letter-spacing: -1px;
}

main .main_wrap .main_wrap_04 .wrap .main_wrap_title .bar {
  width: 335px;
  display: block;
  margin-top: 15px;
  background: #e5e5e5;
  position: relative;
}

main .main_wrap .main_wrap_04 .wrap .main_wrap_title .bar::after {
  content: '';
  display: block;
  background: #005baa;
  width: 100px;
  height: 5px;
}

main .main_wrap .main_wrap_04 .wrap .swiper-container {
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}

main .main_wrap .main_wrap_04 .wrap .swiper-container:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide {
  width: 100%;
  height: 100%;
  padding: 100px 0;
}

main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide .home_box .home_img {
  width: 430px;
  height: 300px;
  position: relative;
}

main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide .home_box .home_img img {
  width: 100%;
  height: 100%;
}

main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide .home_box .home_img .home_detail {
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: -0.5px;
  margin-top: 20px;
}

main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide .home_box .home_img .cover_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 91, 170, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: .15s;
  transition: .15s;
}

main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide .home_box .home_img:hover .cover_img {
  opacity: 1;
}

.footer {
  border-top: 1px solid #ddd;
  height: 260px;
  margin: 70px auto 0;
}

.footer .footer_wrap {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.footer .footer_wrap .footer_partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 65px 0 45px 0;
}

.footer .footer_wrap .footer_partner figure {
  margin: 0 50px;
}

.footer .footer_wrap .footer_copyright {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: -0.5px;
}

.footer .footer_wrap .footer_copyright p {
  font-family: 'NotoSansCJKkr-Regular';
}
/*# sourceMappingURL=index.css.map */