@charset "UTF-8";
@media screen and (max-width: 1440px) {
  html {
    font-size: 50%;
  }
  html header .header_wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  html header .header_wrap .header_logo {
    margin-left: 40px;
  }
  html header .header_wrap .header_center {
    height: 85px;
  }
  html header .header_wrap .header_center > li {
    width: 17.5%;
    height: 85px;
    text-align: center;
  }
  html main .main_wrap {
    width: 100%;
  }
  html main .main_wrap > article {
    width: 70%;
  }
  html main .main_wrap .main_wrap_01 {
    width: 100%;
    height: 750px;
  }
  html main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .slide_01 {
    background: no-repeat center/cover url("../images/main_visual_01.png");
  }
  html main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .slide_02 {
    background: no-repeat center/cover url("../images/main_visual_02.png");
  }
  html main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .swiper-slide .slide_textbox {
    color: #fff;
    left: 15%;
    top: 50%;
    -webkit-transform: translate(-15%, -50%);
            transform: translate(-15%, -50%);
  }
  html main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .swiper-slide .slide_textbox .textbox_title {
    line-height: 1;
  }
  html main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .swiper-slide .slide_textbox .textbox_sub {
    margin-top: 20px;
  }
  html main .main_wrap .main_wrap_01 .swiper-container .text_swiper {
    left: 310px;
    top: 200px;
    z-index: 9999;
  }
  html main .main_wrap .main_wrap_02 {
    width: 70%;
  }
  html main .main_wrap .main_wrap_02 .bar {
    margin-top: 15px;
  }
  html main .main_wrap .main_wrap_02 .bar::after {
    width: 100px;
    height: 5px;
  }
  html main .main_wrap .main_wrap_02 .content_02 {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  html main .main_wrap .main_wrap_02 .content_02 div:nth-of-type(2), html main .main_wrap .main_wrap_02 .content_02 div:nth-of-type(3) {
    margin-left: 0;
  }
  html main .main_wrap .main_wrap_03 {
    margin-top: 180px;
    width: 100%;
  }
  html main .main_wrap .main_wrap_03 .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  html main .main_wrap .main_wrap_03 .wrap .text_wrap_01 {
    padding: 40px 30px;
    width: 90%;
    margin: 0 auto;
    -webkit-transition: .3s;
    transition: .3s;
  }
  html main .main_wrap .main_wrap_03 .wrap .text_wrap_01::after {
    width: 60px;
    height: 60px;
    z-index: -1;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_01 {
    margin-right: 0;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_01 .text_wrap_01::after {
    left: -30px;
    bottom: -30px;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_01 .text_wrap_01 .text_02 {
    margin-top: 25px;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 {
    margin-top: 50px;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01::after {
    right: -30px;
    top: -30px;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .bar {
    margin: 15px 0 35px 0;
    background: #e5e5e5;
    position: relative;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .bar::after {
    height: 5px;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_02 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 0;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_02 .text_02_date {
    line-height: 1;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_02 .text_02_detail {
    margin-left: 30px;
  }
  html main .main_wrap .main_wrap_04 {
    width: 100%;
    margin-top: 180px;
  }
  html main .main_wrap .main_wrap_04 .wrap {
    margin-left: 200px;
  }
  html main .main_wrap .main_wrap_04 .wrap .main_wrap_title .bar {
    width: 335px;
    display: block;
    margin-top: 15px;
    background: #e5e5e5;
    position: relative;
  }
  html main .main_wrap .main_wrap_04 .wrap .main_wrap_title .bar::after {
    content: '';
    display: block;
    width: 100px;
    height: 5px;
  }
  html main .main_wrap .main_wrap_04 .wrap .swiper-container {
    height: 100%;
    cursor: -webkit-grab;
    cursor: grab;
  }
  html main .main_wrap .main_wrap_04 .wrap .swiper-container:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  html main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide {
    width: 100%;
    height: 100%;
    padding: 100px 0;
  }
  html main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide .home_box .home_img {
    width: 430px;
    height: 300px;
  }
  html main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide .home_box .home_img img {
    width: 100%;
    height: 100%;
  }
  html main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide .home_box .home_img::after {
    font-weight: 100;
  }
  html .footer {
    height: 260px;
  }
  html .footer .footer_wrap {
    width: 50%;
  }
  html .footer .footer_wrap .footer_partner {
    margin: 65px 0 45px 0;
  }
  html .footer .footer_wrap .footer_partner figure {
    margin: 0 50px;
  }
}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media screen and (max-width: 1023px) {
  header .header_wrap .header_logo {
    margin-left: 40px;
  }
  header .header_wrap .header_center {
    width: 100%;
    height: 85px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header_wrap .header_center > li {
    width: 17.5%;
  }
  main .main_wrap {
    width: 100%;
  }
  main .main_wrap > article {
    width: 70%;
  }
  main .main_wrap .main_wrap_01 {
    width: 100%;
    height: 650px;
  }
  main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .slide_01 {
    background: no-repeat center/cover url("../images/main_visual_01.png");
  }
  main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .slide_02 {
    background: no-repeat center/cover url("../images/main_visual_02.png");
  }
  main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .swiper-slide .slide_textbox {
    color: #fff;
    left: 15%;
    top: 50%;
    -webkit-transform: translate(-15%, -50%);
            transform: translate(-15%, -50%);
  }
  main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .swiper-slide .slide_textbox .textbox_sub {
    margin-top: 20px;
  }
  main .main_wrap .main_wrap_01 .swiper-container .text_swiper {
    left: 310px;
    top: 200px;
    z-index: 9999;
  }
  main .main_wrap .main_wrap_02 {
    margin-top: 180px;
    width: 70%;
  }
  main .main_wrap .main_wrap_02 .bar {
    margin-top: 15px;
  }
  main .main_wrap .main_wrap_02 .bar::after {
    width: 100px;
    height: 5px;
  }
  main .main_wrap .main_wrap_02 .content_02 {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .main_wrap .main_wrap_02 .content_02 div:nth-of-type(n+2) {
    margin-left: 0;
  }
  main .main_wrap .main_wrap_02 .content_02 > div figure {
    display: none;
  }
  main .main_wrap .main_wrap_02 .content_02 > div .main_count_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main_wrap .main_wrap_03 {
    margin-top: 180px;
    width: 100%;
  }
  main .main_wrap .main_wrap_03 .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }
  main .main_wrap .main_wrap_03 .wrap .content_01 {
    height: auto;
  }
  main .main_wrap .main_wrap_03 .wrap .content_02 {
    height: auto;
  }
  main .main_wrap .main_wrap_03 .wrap .text_wrap_01 {
    padding: 40px 30px;
    width: 90%;
    margin: 0 auto;
    -webkit-transition: .3s;
    transition: .3s;
  }
  main .main_wrap .main_wrap_03 .wrap .text_wrap_01::after {
    width: 60px;
    height: 60px;
    z-index: -1;
  }
  main .main_wrap .main_wrap_03 .wrap .content_01 {
    margin-right: 0;
  }
  main .main_wrap .main_wrap_03 .wrap .content_01 .text_wrap_01::after {
    left: -30px;
    bottom: -30px;
  }
  main .main_wrap .main_wrap_03 .wrap .content_01 .text_wrap_01 .text_02 {
    margin-top: 25px;
  }
  main .main_wrap .main_wrap_03 .wrap .content_02 {
    margin-top: 50px;
  }
  main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01::after {
    right: -30px;
    top: -30px;
  }
  main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .bar {
    margin: 15px 0 35px 0;
    background: #e5e5e5;
    position: relative;
  }
  main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .bar::after {
    height: 5px;
  }
  main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_02 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 0;
  }
  main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_02 .text_02_date {
    line-height: 1;
  }
  main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_02 .text_02_detail {
    margin-left: 25px;
  }
  main .main_wrap .main_wrap_04 {
    width: 90% !important;
    margin-top: 180px;
  }
  main .main_wrap .main_wrap_04 .wrap {
    margin-left: 0 !important;
  }
  main .main_wrap .main_wrap_04 .wrap .main_wrap_title .bar {
    width: 335px;
    display: block;
    margin-top: 15px;
  }
  main .main_wrap .main_wrap_04 .wrap .main_wrap_title .bar::after {
    width: 100px;
    height: 5px;
  }
  main .main_wrap .main_wrap_04 .wrap .swiper-container {
    height: 100%;
  }
  main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide {
    width: 100%;
    height: 100%;
  }
  main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide .home_box .home_img {
    width: 430px;
    height: 300px;
  }
  main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide .home_box .home_img img {
    width: 100%;
    height: 100%;
  }
  main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide .home_box .home_img::after {
    font-weight: 100;
  }
  .footer {
    height: 260px;
  }
  .footer .footer_wrap {
    width: 100%;
  }
  .footer .footer_wrap .footer_partner {
    margin: 65px 0 45px 0;
  }
  .footer .footer_wrap .footer_partner figure {
    margin: 0 50px;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media screen and (max-width: 767px) {
  html {
    font-size: 43.75%;
  }
  html header .header_wrap {
    width: 90%;
    height: 60px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  html header .header_wrap .header_logo {
    margin-left: 0;
  }
  html header .header_wrap .header_center {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html header .header_wrap .header_center > li {
    width: 20%;
  }
  html header .header_wrap .header_right {
    display: block;
  }
  html main .main_wrap {
    width: 100%;
  }
  html main .main_wrap > article {
    width: 70%;
  }
  html main .main_wrap .main_wrap_01 {
    width: 100%;
    height: 650px;
  }
  html main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .slide_01 {
    background: no-repeat center/cover url("../images/main_visual_01.png");
  }
  html main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .slide_02 {
    background: no-repeat center/cover url("../images/main_visual_02.png");
  }
  html main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .swiper-slide .slide_textbox {
    left: 30%;
    top: 50%;
    -webkit-transform: translate(-30%, -50%);
            transform: translate(-30%, -50%);
  }
  html main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .swiper-slide .slide_textbox .textbox_sub {
    margin-top: 20px;
  }
  html main .main_wrap .main_wrap_01 .swiper-container .text_swiper {
    left: 310px;
    top: 200px;
    z-index: 9999;
  }
  html main .main_wrap .main_wrap_02 {
    margin-top: 180px;
    width: 80%;
  }
  html main .main_wrap .main_wrap_02 .bar {
    margin-top: 15px;
  }
  html main .main_wrap .main_wrap_02 .bar::after {
    width: 100px;
    height: 5px;
  }
  html main .main_wrap .main_wrap_02 .content_02 {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html main .main_wrap .main_wrap_02 .content_02 div:nth-of-type(n+2) {
    margin: 0;
  }
  html main .main_wrap .main_wrap_03 {
    margin-top: 180px;
    width: 100%;
  }
  html main .main_wrap .main_wrap_03 .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_01 {
    height: auto;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 {
    height: auto;
  }
  html main .main_wrap .main_wrap_03 .wrap .text_wrap_01 {
    padding: 30px 30px;
    width: 90%;
    margin: 0 auto;
    -webkit-transition: .3s;
    transition: .3s;
  }
  html main .main_wrap .main_wrap_03 .wrap .text_wrap_01 .text_01 > a {
    width: 20px;
    height: 20px;
  }
  html main .main_wrap .main_wrap_03 .wrap .text_wrap_01::after {
    width: 40px;
    height: 40px;
    z-index: -1;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_01 {
    margin-right: 0;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_01 .text_wrap_01::after {
    left: -20px;
    bottom: -20px;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_01 .text_wrap_01 .text_02 {
    margin-top: 25px;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 {
    margin-top: 50px;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01::after {
    right: -20px;
    top: -20px;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .bar {
    margin: 15px 0 35px 0;
    background: #e5e5e5;
    position: relative;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .bar::after {
    background: #80c342;
    height: 5px;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_02 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 0;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_02 .text_02_date {
    line-height: 1;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_02 .text_02_detail {
    margin-left: 25px;
  }
  html main .main_wrap .main_wrap_04 {
    width: 100%;
    margin-top: 180px;
  }
  html main .main_wrap .main_wrap_04 .wrap {
    margin-left: 100px;
  }
  html main .main_wrap .main_wrap_04 .wrap .main_wrap_title .bar {
    width: 50%;
    display: block;
    margin-top: 15px;
  }
  html main .main_wrap .main_wrap_04 .wrap .main_wrap_title .bar::after {
    width: 30%;
    height: 5px;
  }
  html main .main_wrap .main_wrap_04 .wrap .swiper-container {
    height: 100%;
  }
  html main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide {
    width: 100%;
    height: 100%;
  }
  html main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide .home_box .home_img {
    width: 430px;
    height: 300px;
    margin: 0 auto !important;
  }
  html main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide .home_box .home_img img {
    width: 100%;
    height: 100%;
  }
  html main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide .home_box .home_img .home_detail {
    text-align: center;
  }
  html main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide .home_box .home_img::after {
    font-weight: 100;
  }
  html .footer {
    height: 260px;
  }
  html .footer .footer_wrap {
    width: 100%;
  }
  html .footer .footer_wrap .footer_partner {
    margin: 65px 0 45px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  html .footer .footer_wrap .footer_partner figure {
    margin: 0;
  }
}

@media screen and (max-width: 479px) {
  html header .header_wrap {
    width: 90%;
    height: 55px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  html header .header_wrap .header_logo {
    margin-left: 0;
  }
  html header .header_wrap .header_logo a {
    width: 70px;
  }
  html header .header_wrap .header_logo a img {
    width: 100%;
  }
  html header .header_wrap .header_right {
    display: block;
  }
  html header .header_wrap .header_right {
    width: 20px;
    height: 20px;
  }
  html header .header_wrap .header_right span {
    width: 20px;
    border-bottom: 2px solid #000;
  }
  html main .main_wrap {
    width: 100%;
  }
  html main .main_wrap > article {
    width: 70%;
  }
  html main .main_wrap .main_wrap_01 {
    width: 100%;
    height: 500px;
  }
  html main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .slide_01 {
    background: no-repeat center/cover url("../images/main_visual_01.png");
  }
  html main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .slide_02 {
    background: no-repeat center/cover url("../images/main_visual_02.png");
  }
  html main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .swiper-slide .slide_textbox {
    color: #fff;
    left: 30%;
    top: 50%;
    -webkit-transform: translate(-30%, -50%);
            transform: translate(-30%, -50%);
  }
  html main .main_wrap .main_wrap_01 .swiper-container .swiper-wrapper .swiper-slide .slide_textbox .textbox_sub {
    margin-top: 20px;
  }
  html main .main_wrap .main_wrap_01 .swiper-container .text_swiper {
    left: 310px;
    top: 200px;
    z-index: 9999;
  }
  html main .main_wrap .main_wrap_02 {
    margin-top: 180px;
    width: 90%;
  }
  html main .main_wrap .main_wrap_02 .content_01 {
    font-size: 5rem;
  }
  html main .main_wrap .main_wrap_02 .bar {
    margin-top: 15px;
  }
  html main .main_wrap .main_wrap_02 .bar::after {
    height: 3px;
  }
  html main .main_wrap .main_wrap_02 .content_02 {
    margin-top: 30px;
  }
  html main .main_wrap .main_wrap_02 .content_02 div:nth-of-type(n+2) {
    margin-left: 0;
  }
  html main .main_wrap .main_wrap_02 .content_02 > div {
    text-align: center;
    width: 30%;
  }
  html main .main_wrap .main_wrap_02 .content_02 > div .main_count_wrap span strong {
    font-size: 5rem !important;
  }
  html main .main_wrap .main_wrap_03 {
    margin-top: 180px;
    width: 100%;
  }
  html main .main_wrap .main_wrap_03 .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_01 {
    height: auto;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 {
    height: auto;
  }
  html main .main_wrap .main_wrap_03 .wrap .text_wrap_01 {
    padding: 30px 30px;
    width: 90%;
    margin: 0 auto;
    -webkit-transition: .3s;
    transition: .3s;
  }
  html main .main_wrap .main_wrap_03 .wrap .text_wrap_01::after {
    width: 40px;
    height: 40px;
    z-index: -1;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_01 {
    margin-right: 0;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_01 .text_wrap_01::after {
    left: -20px;
    bottom: -20px;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_01 .text_wrap_01 .text_02 {
    margin-top: 25px;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 {
    margin-top: 50px;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01::after {
    right: -20px;
    top: -20px;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .bar {
    margin: 15px 0 35px 0;
    background: #e5e5e5;
    position: relative;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .bar::after {
    height: 3px;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_02 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 0;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_02 .text_02_date {
    line-height: 1;
  }
  html main .main_wrap .main_wrap_03 .wrap .content_02 .text_wrap_01 .text_02 .text_02_detail {
    margin-left: 25px;
  }
  html main .main_wrap .main_wrap_04 {
    width: 100%;
    margin-top: 180px;
  }
  html main .main_wrap .main_wrap_04 .wrap {
    margin-left: 10px;
  }
  html main .main_wrap .main_wrap_04 .wrap .swiper-container {
    height: 100%;
  }
  html main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide {
    width: 100%;
    height: 100%;
  }
  html main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide .home_box .home_img {
    width: 300px;
    height: auto;
  }
  html main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide .home_box .home_img img {
    width: 100%;
    height: 100%;
  }
  html main .main_wrap .main_wrap_04 .wrap .swiper-container .home_slide .home_box .home_img::after {
    height: 210px;
    font-weight: 100;
  }
  html .footer {
    height: 260px;
  }
  html .footer .footer_wrap {
    width: 100%;
  }
  html .footer .footer_wrap .footer_partner {
    margin: 65px 0 45px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  html .footer .footer_wrap .footer_partner figure {
    margin: 0;
    width: 30%;
  }
  html .footer .footer_wrap .footer_partner figure img {
    width: 100%;
  }
}
/*# sourceMappingURL=media.css.map */