.company_info_01 .wrap .mv_01 {
  height: 480px;
}

.company_info_01 .wrap .mv_01 figure {
  position: relative;
  height: 100%;
  background: no-repeat center/cover url("../images/info_mv_01.png");
}

.company_info_01 .wrap .mv_01 figure figcaption {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.company_info_01 .wrap .mv_01 figure figcaption p:nth-of-type(1) {
  font-size: 6rem;
  font-weight: bold;
}

.company_info_01 .wrap .mv_01 figure figcaption p:nth-of-type(2) {
  font-size: 2rem;
  font-weight: 100;
}

.company_info_01 .wrap .mv_02 {
  border: 1px solid #ddd;
  border-top: none;
}

.company_info_01 .wrap .mv_02 > ul {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company_info_01 .wrap .mv_02 > ul .depth_01 {
  position: relative;
  overflow: hidden;
  border-right: 1px solid #ddd;
  z-index: 10;
  padding: 25px 20px;
}

.company_info_01 .wrap .mv_02 > ul .depth_01:not(:first-child) {
  width: 300px;
}

.company_info_01 .wrap .mv_02 > ul .depth_01:nth-of-type(1) {
  border-left: 1px solid #ddd;
  padding: 0;
  overflow: hidden;
}

.company_info_01 .wrap .mv_02 > ul .depth_01:nth-of-type(1) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company_info_01 .wrap .mv_02 > ul .depth_01 a {
  font-family: "NotoSansCJKkr-Medium";
}

.company_info_01 .wrap .mv_02 > ul .depth_01 .home_ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100%;
}

.company_info_01 .wrap .mv_02 > ul .depth_01 .home_ico img {
  width: 26px;
  height: 26px;
}

.company_info_01 .wrap .mv_02 > ul .depth_01 .depth_nav {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.company_info_01 .wrap .mv_02 > ul .depth_01 .depth_nav .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company_info_01 .wrap .mv_02 > ul .depth_01 .depth_nav span:nth-of-type(1) {
  display: block;
  text-align: center;
  width: 100%;
}

.company_info_01 .wrap .mv_02 > ul .depth_01 .depth_02 {
  position: absolute;
  left: 0;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 1.6rem;
  background: #fff;
}

.company_info_01 .wrap .mv_02 > ul .depth_01 .depth_02 li {
  width: 100%;
  height: 100%;
  text-align: center;
}

.company_info_01 .wrap .mv_02 > ul .depth_01 .depth_02 li a {
  display: block;
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.company_info_01 .wrap .mv_02 > ul .depth_01 .depth_02 li a:hover {
  background: #005baa;
  color: #fff;
}

.company_info_01 .wrap .mv_02 > ul .depth_01:hover {
  overflow: visible;
}

.info_01_01 .company_info_02 {
  width: 70%;
  margin: 180px auto 0;
}

.info_01_01 .company_info_02 .wrap .content_title h2 {
  font-size: 4rem;
}

.info_01_01 .company_info_02 .wrap .content_title .bar {
  width: 335px;
  display: block;
  margin-top: 15px;
  background: #e5e5e5;
  position: relative;
}

.info_01_01 .company_info_02 .wrap .content_title .bar::after {
  content: '';
  display: block;
  background: #005baa;
  width: 100px;
  height: 5px;
}

.info_01_01 .company_info_02 .wrap section {
  margin: 60px 0;
}

.info_01_01 .company_info_02 .wrap section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_01_01 .company_info_02 .wrap section > div .content_text {
  margin-left: 50px;
}

.info_01_01 .company_info_02 .wrap section > div .content_text .text_title {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -1px;
}

.info_01_01 .company_info_02 .wrap section > div .content_text .text_title strong {
  color: #005baa;
}

.info_01_01 .company_info_02 .wrap section > div .content_text .text_detail {
  letter-spacing: -0.5px;
  font-size: 2rem;
  margin-top: 20px;
  line-height: 1.6;
}

.info_01_01 .company_info_03 {
  width: 70%;
  margin: 180px auto 0;
}

.info_01_01 .company_info_03 .wrap .content_title h2 {
  font-size: 4rem;
  letter-spacing: -1px;
}

.info_01_01 .company_info_03 .wrap .content_title .bar {
  width: 335px;
  display: block;
  margin-top: 15px;
  background: #e5e5e5;
  position: relative;
}

.info_01_01 .company_info_03 .wrap .content_title .bar::after {
  content: '';
  display: block;
  background: #005baa;
  width: 100px;
  height: 5px;
}

.info_01_01 .company_info_03 .wrap .content_title .text_01 {
  font-size: 4rem;
  margin-top: 80px;
  line-height: 1.2;
  letter-spacing: -1px;
}

.info_01_01 .company_info_03 .wrap .content_title .text_02 {
  margin-top: 20px;
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: -0.5px;
}

.info_01_01 .company_info_03 .wrap .content_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
}

.info_01_01 .company_info_03 .wrap .content_item section {
  width: 420px;
  height: 420px;
  border: 5px solid #005baa;
  position: relative;
  background: #fff;
}

.info_01_01 .company_info_03 .wrap .content_item section:first-child::after, .info_01_01 .company_info_03 .wrap .content_item section:last-child::after {
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: -1;
}

.info_01_01 .company_info_03 .wrap .content_item section:first-child::after {
  background: #005baa;
  left: -30px;
  bottom: -30px;
}

.info_01_01 .company_info_03 .wrap .content_item section:last-child::after {
  background: #80c342;
  right: -30px;
  top: -30px;
}

.info_01_01 .company_info_03 .wrap .content_item section figure {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.info_01_01 .company_info_03 .wrap .content_item section figure figcaption {
  font-size: 3rem;
  line-height: 1.2;
}

.info_01_01 .company_info_03 .wrap .content_item section figure figcaption strong {
  font-size: 7rem;
}

.info_01_01 .company_info_04 {
  width: 70%;
  margin: 180px auto 0;
}

.info_01_01 .company_info_04 .wrap .content_title h2 {
  font-size: 4rem;
}

.info_01_01 .company_info_04 .wrap .content_title .bar {
  width: 335px;
  display: block;
  margin-top: 15px;
  background: #e5e5e5;
  position: relative;
}

.info_01_01 .company_info_04 .wrap .content_title .bar::after {
  content: '';
  display: block;
  background: #005baa;
  width: 100px;
  height: 5px;
}

.info_01_01 .company_info_04 .wrap .content_title .text_01 {
  font-size: 4rem;
  margin-top: 80px;
}

.info_01_01 .company_info_04 .wrap .content_title .text_02 {
  margin-top: 20px;
  font-size: 2rem;
}

.info_01_01 .company_info_04 .wrap .content_item {
  margin-top: 90px;
}

.info_01_01 .company_info_04 .wrap .content_item > div .content_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

.info_01_01 .company_info_04 .wrap .content_item > div .content_wrap .left {
  position: relative;
  width: 240px;
  height: 240px;
  border: 2px solid #005baa;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 3rem;
  color: #005baa;
  font-weight: bold;
  z-index: 1;
}

.info_01_01 .company_info_04 .wrap .content_item > div .content_wrap .left small {
  font-size: 2rem;
  font-weight: 400;
}

.info_01_01 .company_info_04 .wrap .content_item > div .content_wrap .right {
  margin-left: -20px;
}

.info_01_01 .company_info_04 .wrap .content_item > div:not(:first-child) .left {
  background: #005baa;
  color: #fff;
}

.info_01_01 .company_info_04 .wrap .content_item > div:not(:last-child) .left::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  width: 2px;
  height: 200%;
  background: #005baa;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}

.info_01_02 .company_info_02 {
  width: 70%;
  margin: 180px auto 0;
}

.info_01_02 .company_info_02 .wrap .content_title .title_info_01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info_01_02 .company_info_02 .wrap .content_title .title_info_01 h2 {
  font-size: 4rem;
  letter-spacing: -1px;
}

.info_01_02 .company_info_02 .wrap .content_title .title_info_01 .more_page {
  border: 1px solid #005baa;
  border-radius: 80px;
  -webkit-transition: .3s;
  transition: .3s;
}

.info_01_02 .company_info_02 .wrap .content_title .title_info_01 .more_page a {
  display: block;
  font-size: 1.8rem;
  padding: 15px 20px;
  color: #005baa;
  font-weight: bold;
}

.info_01_02 .company_info_02 .wrap .content_title .title_info_01 .more_page:hover {
  opacity: .5;
}

.info_01_02 .company_info_02 .wrap .content_title .bar {
  width: 335px;
  display: block;
  margin-top: 15px;
  background: #e5e5e5;
  position: relative;
}

.info_01_02 .company_info_02 .wrap .content_title .bar::after {
  content: '';
  display: block;
  background: #005baa;
  width: 100px;
  height: 5px;
}

.info_01_02 .company_info_02 .wrap .section_01 {
  margin: 60px 0;
}

.info_01_02 .company_info_02 .wrap .section_01 > .content_01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_01_02 .company_info_02 .wrap .section_01 > .content_01 .content_text {
  margin-left: 50px;
}

.info_01_02 .company_info_02 .wrap .section_01 > .content_01 .content_text .text_title {
  font-size: 4rem;
  line-height: 1.2;
  line-height: 1.2;
  letter-spacing: -1px;
}

.info_01_02 .company_info_02 .wrap .section_01 > .content_01 .content_text .text_title strong {
  color: #000;
}

.info_01_02 .company_info_02 .wrap .section_01 > .content_01 .content_text .text_detail {
  font-size: 2rem;
  margin-top: 20px;
  line-height: 1.6;
  letter-spacing: -0.5px;
}

.info_01_02 .company_info_02 .wrap .section_02 > figure {
  width: 100%;
}

.info_01_02 .company_info_02 .wrap .section_02 > figure img {
  width: 100%;
}

.info_01_02 .company_info_03 {
  width: 70%;
  margin: 180px auto 0;
}

.info_01_02 .company_info_03 .wrap .content_title .title_info_01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info_01_02 .company_info_03 .wrap .content_title .title_info_01 h2 {
  font-size: 4rem;
  letter-spacing: -1px;
}

.info_01_02 .company_info_03 .wrap .content_title .title_info_01 .more_page {
  border: 1px solid #005baa;
  border-radius: 80px;
  -webkit-transition: .3s;
  transition: .3s;
}

.info_01_02 .company_info_03 .wrap .content_title .title_info_01 .more_page a {
  display: block;
  font-size: 1.8rem;
  padding: 15px 20px;
  color: #005baa;
  font-weight: bold;
}

.info_01_02 .company_info_03 .wrap .content_title .title_info_01 .more_page:hover {
  opacity: .7;
}

.info_01_02 .company_info_03 .wrap .content_title .bar {
  width: 335px;
  display: block;
  margin-top: 15px;
  background: #e5e5e5;
  position: relative;
}

.info_01_02 .company_info_03 .wrap .content_title .bar::after {
  content: '';
  display: block;
  background: #005baa;
  width: 100px;
  height: 5px;
}

.info_01_02 .company_info_03 .wrap .section_01 {
  margin: 60px 0;
}

.info_01_02 .company_info_03 .wrap .section_01 > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_01_02 .company_info_03 .wrap .section_01 > div .content_text {
  margin-left: 50px;
}

.info_01_02 .company_info_03 .wrap .section_01 > div .content_text .text_title {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -1px;
}

.info_01_02 .company_info_03 .wrap .section_01 > div .content_text .text_title strong {
  color: #000;
}

.info_01_02 .company_info_03 .wrap .section_01 > div .content_text .text_detail {
  font-size: 2rem;
  margin-top: 20px;
  line-height: 1.6;
  letter-spacing: -0.5px;
}

.info_01_02 .company_info_03 .wrap .section_02 > figure {
  width: 100%;
}

.info_01_02 .company_info_03 .wrap .section_02 > figure img {
  width: 100%;
}

.info_02_01 .company_info_02 {
  width: 70%;
  margin: 180px auto 0;
}

.info_02_01 .company_info_02 .wrap .content_title .title_info_01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info_02_01 .company_info_02 .wrap .content_title .title_info_01 h2 {
  font-size: 4rem;
  letter-spacing: -1px;
}

.info_02_01 .company_info_02 .wrap .content_title .title_info_01 .more_page a {
  font-size: 3rem;
  font-weight: bold;
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

.info_02_01 .company_info_02 .wrap .content_title .title_info_01 .more_page a:not(:first-child) {
  margin-left: 50px;
}

.info_02_01 .company_info_02 .wrap .content_title .title_info_01 .more_page a:hover {
  opacity: 1;
}

.info_02_01 .company_info_02 .wrap .content_title .bar {
  width: 100%;
  display: block;
  margin-top: 15px;
  background: #e5e5e5;
  position: relative;
}

.info_02_01 .company_info_02 .wrap .content_title .bar::after {
  content: '';
  display: block;
  background: #005baa;
  width: 100px;
  height: 5px;
}

.info_02_01 .company_info_02 .wrap .section_01 {
  margin: 60px 0 180px;
}

.info_02_01 .company_info_02 .wrap .section_01 .item_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item {
  width: 315px;
  height: 480px;
  border: 1px solid #ddd;
}

.info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure {
  width: 57%;
  height: 37.5%;
  border: 1px solid #ddd;
  background: #ddd;
  border-radius: 100%;
  overflow: hidden;
}

.info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure img {
  width: 100%;
  height: 100%;
}

.info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a figcaption {
  text-align: center;
}

.info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a figcaption .project_title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: -0.5px;
}

.info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a figcaption .project_detail {
  font-size: 1.8rem;
  line-height: 1.78;
  letter-spacing: -0.45px;
}

.info_02_01 .company_info_02 .wrap .section_01 .info_02_01_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.info_02_01 .company_info_02 .wrap .section_01 .info_02_01_more a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  border-radius: 80px;
  border: 2px solid #005baa;
  -webkit-transition: .3s;
  transition: .3s;
}

.info_02_01 .company_info_02 .wrap .section_01 .info_02_01_more a span {
  font-size: 2rem;
  font-weight: bold;
  color: #005baa;
}

.info_02_01 .company_info_02 .wrap .section_01 .info_02_01_more a:hover {
  opacity: .5;
}

.info_02_02 .company_info_02 {
  width: 70%;
  margin: 180px auto 0;
}

.info_02_02 .company_info_02 .wrap .content_title .title_info_01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info_02_02 .company_info_02 .wrap .content_title .title_info_01 h2 {
  font-size: 4rem;
  letter-spacing: -1px;
}

.info_02_02 .company_info_02 .wrap .content_title .title_info_01 .more_page a {
  font-size: 3rem;
  font-weight: bold;
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

.info_02_02 .company_info_02 .wrap .content_title .title_info_01 .more_page a:not(:first-child) {
  margin-left: 50px;
}

.info_02_02 .company_info_02 .wrap .content_title .title_info_01 .more_page a:hover {
  opacity: 1;
}

.info_02_02 .company_info_02 .wrap .content_title .bar {
  width: 100%;
  display: block;
  margin-top: 15px;
  background: #e5e5e5;
  position: relative;
}

.info_02_02 .company_info_02 .wrap .content_title .bar::after {
  content: '';
  display: block;
  background: #005baa;
  width: 100px;
  height: 5px;
}

.info_02_02 .company_info_02 .wrap .section_01 {
  margin: 60px 0 180px;
}

.info_02_02 .company_info_02 .wrap .section_01 .item_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item {
  width: 315px;
  height: 480px;
  border: 1px solid #ddd;
}

.info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a {
  width: 100%;
  height: 100%;
}

.info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure {
  width: 100%;
  height: 100%;
}

.info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure div {
  width: 100%;
  height: 70%;
  background: #ddd;
}

.info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure div img {
  width: 100%;
  height: 100%;
}

.info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption {
  text-align: left;
  padding: 25px 20px;
}

.info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption .project_title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption .project_detail {
  font-size: 1.8rem;
  line-height: 1.78;
  letter-spacing: -0.45px;
}

.info_02_02 .company_info_02 .wrap .section_01 .info_02_01_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.info_02_02 .company_info_02 .wrap .section_01 .info_02_01_more a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  border-radius: 80px;
  border: 2px solid #005baa;
  -webkit-transition: .3s;
  transition: .3s;
}

.info_02_02 .company_info_02 .wrap .section_01 .info_02_01_more a span {
  font-size: 2rem;
  font-weight: bold;
  color: #005baa;
}

.info_02_02 .company_info_02 .wrap .section_01 .info_02_01_more a:hover {
  opacity: .5;
}

.info_02_02_more .company_info_02 {
  width: 70%;
  margin: 180px auto 0;
}

.info_02_02_more .company_info_02 .wrap .content_title .title_info_01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info_02_02_more .company_info_02 .wrap .content_title .title_info_01 h2 {
  font-size: 4rem;
  letter-spacing: -1px;
}

.info_02_02_more .company_info_02 .wrap .content_title .title_info_01 .more_page a {
  font-size: 3rem;
  font-weight: bold;
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

.info_02_02_more .company_info_02 .wrap .content_title .title_info_01 .more_page a:not(:first-child) {
  margin-left: 50px;
}

.info_02_02_more .company_info_02 .wrap .content_title .title_info_01 .more_page a:hover {
  opacity: 1;
}

.info_02_02_more .company_info_02 .wrap .content_title .bar {
  width: 100%;
  display: block;
  margin-top: 15px;
  background: #e5e5e5;
  position: relative;
}

.info_02_02_more .company_info_02 .wrap .content_title .bar::after {
  content: '';
  display: block;
  background: #005baa;
  width: 100px;
  height: 5px;
}

.info_02_02_more .company_info_02 .wrap .section_01 {
  margin: 60px 0 180px;
}

.info_02_02_more .company_info_02 .wrap .section_01 .item_wrap .section_01_item {
  width: 100%;
  height: 600px;
  border: 1px solid #ddd;
}

.info_02_02_more .company_info_02 .wrap .section_01 .item_wrap .section_01_item video {
  width: 100%;
  height: 100%;
}

.info_02_02_more .company_info_02 .wrap .section_01 .item_wrap .video_text {
  font-size: 1.8rem;
  padding: 80px 0;
  border-bottom: 1px solid #ddd;
  line-height: 1.78;
  letter-spacing: -0.45px;
}

.info_02_02_more .company_info_02 .wrap .section_01 .info_02_01_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 30px;
}

.info_02_02_more .company_info_02 .wrap .section_01 .info_02_01_more a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 0 20px;
  border-radius: 80px;
  border: 2px solid #005baa;
  font-size: 2rem;
  font-weight: bold;
  color: #005baa;
  -webkit-transition: .3s;
  transition: .3s;
}

.info_02_02_more .company_info_02 .wrap .section_01 .info_02_01_more a:hover {
  opacity: .5;
}

.info_03_01 .company_info_02 {
  width: 70%;
  margin: 180px auto 0;
}

.info_03_01 .company_info_02 .wrap .content_title .title_info_01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info_03_01 .company_info_02 .wrap .content_title .title_info_01 h2 {
  font-size: 4rem;
  letter-spacing: -1px;
}

.info_03_01 .company_info_02 .wrap .content_title .title_info_01 .more_page {
  border: 1px solid #005baa;
  border-radius: 80px;
  -webkit-transition: .3s;
  transition: .3s;
}

.info_03_01 .company_info_02 .wrap .content_title .title_info_01 .more_page a {
  display: block;
  font-size: 1.8rem;
  padding: 15px 20px;
  color: #005baa;
  font-weight: bold;
}

.info_03_01 .company_info_02 .wrap .content_title .title_info_01 .more_page:hover {
  opacity: .5;
}

.info_03_01 .company_info_02 .wrap .content_title .bar {
  width: 335px;
  display: block;
  margin-top: 15px;
  background: #e5e5e5;
  position: relative;
}

.info_03_01 .company_info_02 .wrap .content_title .bar::after {
  content: '';
  display: block;
  background: #005baa;
  width: 100px;
  height: 5px;
}

.info_03_01 .company_info_02 .wrap .section_01 {
  margin-top: 60px;
}

.info_03_01 .company_info_02 .wrap .section_01 .content_01 .content_text .text_title {
  line-height: 1.2;
}

.info_03_01 .company_info_02 .wrap .section_01 .content_01 .content_text .text_title strong {
  color: #005baa;
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -1px;
}

.info_03_01 .company_info_02 .wrap .section_01 .content_01 .content_text .text_title small {
  font-size: 3rem;
  letter-spacing: -0.75px;
}

.info_03_01 .company_info_02 .wrap .section_01 .content_01 .content_text .text_detail {
  font-size: 2rem;
  margin-top: 20px;
  line-height: 1.8;
  letter-spacing: -0.45px;
}

.info_03_01 .company_info_02 .wrap .section_02 {
  margin-top: 180px;
}

.info_03_01 .company_info_02 .wrap .section_02 > figure {
  width: 100%;
}

.info_03_01 .company_info_02 .wrap .section_02 > figure img {
  width: 100%;
}

.info_03_01 .company_info_02 .wrap .section_03 {
  margin-top: 80px;
}

.info_03_01 .company_info_02 .wrap .section_03 > figure {
  width: 100%;
}

.info_03_01 .company_info_02 .wrap .section_03 > figure img {
  width: 100%;
}

.info_03_01 .company_info_02 .wrap .section_04 {
  margin: 80px 0 310px;
}

.info_03_01 .company_info_02 .wrap .section_04 > figure {
  width: 100%;
}

.info_03_01 .company_info_02 .wrap .section_04 > figure img {
  width: 100%;
}

.info_04_01 .company_info_02 {
  width: 70%;
  margin: 180px auto 0;
}

.info_04_01 .company_info_02 .wrap .content_title .title_info_01 h2 {
  font-size: 4rem;
  letter-spacing: -1px;
}

.info_04_01 .company_info_02 .wrap .content_title .bar {
  width: 335px;
  display: block;
  margin-top: 15px;
  background: #e5e5e5;
  position: relative;
}

.info_04_01 .company_info_02 .wrap .content_title .bar::after {
  content: '';
  display: block;
  background: #005baa;
  width: 100px;
  height: 5px;
}

.info_04_01 .company_info_02 .wrap > section {
  margin-top: 80px;
}

.info_04_01 .company_info_02 .wrap > section .wrap .qna_section {
  border: 1px solid #ddd;
  margin: 20px 0;
}

.info_04_01 .company_info_02 .wrap > section .wrap .qna_section h2 {
  position: relative;
  font-weight: 500;
  padding: 16px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.4rem;
  color: #000;
  -webkit-transition: .3s;
  transition: .3s;
  line-height: 2;
  letter-spacing: -0.6px;
}

.info_04_01 .company_info_02 .wrap > section .wrap .qna_section h2 i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  -webkit-transition: .3s;
  transition: .3s;
}

.info_04_01 .company_info_02 .wrap > section .wrap .qna_section h2 i.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.info_04_01 .company_info_02 .wrap > section .wrap .qna_section h2.active {
  background: #005baa;
  color: #fff;
}

.info_04_01 .company_info_02 .wrap > section .wrap .qna_section h2.active i svg {
  fill: #fff;
}

.info_04_01 .company_info_02 .wrap > section .wrap .qna_section p {
  display: none;
  padding: 25px 30px;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
}

.info_04_01 .company_info_02 .wrap .info_04_01_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 0 130px;
}

.info_04_01 .company_info_02 .wrap .info_04_01_more a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  border-radius: 80px;
  border: 2px solid #005baa;
  -webkit-transition: .3s;
  transition: .3s;
}

.info_04_01 .company_info_02 .wrap .info_04_01_more a span {
  font-size: 2rem;
  font-weight: bold;
  color: #005baa;
}

.info_04_01 .company_info_02 .wrap .info_04_01_more a:hover {
  opacity: .5;
}

.info_05_01 .company_info_02 {
  width: 70%;
  margin: 180px auto 0;
}

.info_05_01 .company_info_02 .wrap .content_title .title_info_01 h2 {
  font-size: 4rem;
  letter-spacing: -1px;
}

.info_05_01 .company_info_02 .wrap .content_title .bar {
  width: 335px;
  display: block;
  margin-top: 15px;
  background: #e5e5e5;
  position: relative;
}

.info_05_01 .company_info_02 .wrap .content_title .bar::after {
  content: '';
  display: block;
  background: #005baa;
  width: 100px;
  height: 5px;
}

.info_05_01 .company_info_02 .wrap > .notice_section_01 {
  margin-top: 80px;
}

.info_05_01 .company_info_02 .wrap > .notice_section_01 .wrap .table_notice {
  width: 100%;
  line-height: 1.78;
  letter-spacing: -0.45px;
}

.info_05_01 .company_info_02 .wrap > .notice_section_01 .wrap .table_notice thead {
  letter-spacing: -0.6px;
  border-bottom: 2px solid #005baa;
  color: #005baa;
  font-size: 2.4rem;
}

.info_05_01 .company_info_02 .wrap > .notice_section_01 .wrap .table_notice thead tr th {
  padding-bottom: 20px;
}

.info_05_01 .company_info_02 .wrap > .notice_section_01 .wrap .table_notice tbody {
  font-size: 1.8rem;
}

.info_05_01 .company_info_02 .wrap > .notice_section_01 .wrap .table_notice tbody tr {
  border-bottom: 1px solid #ddd;
}

.info_05_01 .company_info_02 .wrap > .notice_section_01 .wrap .table_notice tbody tr td {
  padding: 15px 0;
  text-align: center;
}

.info_05_01 .company_info_02 .wrap > .notice_section_01 .wrap .table_notice tbody tr td:nth-of-type(2) {
  text-align: left;
  line-height: 1.78;
  letter-spacing: -0.45px;
}

.info_05_01 .company_info_02 .wrap .info_05_01_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0 170px;
}

.info_05_01 .company_info_02 .wrap .info_05_01_more > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_05_01 .company_info_02 .wrap .info_05_01_more > p > a {
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 50px;
  border-radius: 80px;
  border: 2px solid #005baa;
  -webkit-transition: .3s;
  transition: .3s;
}

.info_05_01 .company_info_02 .wrap .info_05_01_more > p > a > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  color: #005baa;
}

.info_05_01 .company_info_02 .wrap .info_05_01_more > p > a .btn_prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.info_05_01 .company_info_02 .wrap .info_05_01_more > p > a:first-child, .info_05_01 .company_info_02 .wrap .info_05_01_more > p > a:last-child {
  opacity: .3;
}

.info_05_01 .company_info_02 .wrap .info_05_01_more > p > a:first-child:hover, .info_05_01 .company_info_02 .wrap .info_05_01_more > p > a:last-child:hover {
  opacity: 1;
}

.info_05_01_view .company_info_02 {
  width: 70%;
  margin: 180px auto 0;
}

.info_05_01_view .company_info_02 .wrap .content_title .title_info_01 h2 {
  font-size: 4rem;
}

.info_05_01_view .company_info_02 .wrap .content_title .bar {
  width: 335px;
  display: block;
  margin-top: 15px;
  background: #e5e5e5;
  position: relative;
}

.info_05_01_view .company_info_02 .wrap .content_title .bar::after {
  content: '';
  display: block;
  background: #005baa;
  width: 100px;
  height: 5px;
}

.info_05_01_view .company_info_02 .wrap > .notice_section_01 {
  margin-top: 80px;
}

.info_05_01_view .company_info_02 .wrap > .notice_section_01 .wrap .table_notice {
  width: 100%;
}

.info_05_01_view .company_info_02 .wrap > .notice_section_01 .wrap .table_notice thead {
  border-bottom: 2px solid #005baa;
  color: #005baa;
  font-size: 2.4rem;
}

.info_05_01_view .company_info_02 .wrap > .notice_section_01 .wrap .table_notice thead tr th {
  padding-bottom: 20px;
}

.info_05_01_view .company_info_02 .wrap > .notice_section_01 .wrap .table_notice thead tr th:nth-of-type(1) {
  text-align: left;
}

.info_05_01_view .company_info_02 .wrap > .notice_section_01 .wrap .table_notice tbody {
  font-size: 1.8rem;
}

.info_05_01_view .company_info_02 .wrap > .notice_section_01 .wrap .table_notice tbody tr {
  border-bottom: 1px solid #ddd;
}

.info_05_01_view .company_info_02 .wrap > .notice_section_01 .wrap .table_notice tbody tr td {
  padding: 15px 0;
  text-align: left;
}

.info_05_01_view .company_info_02 .wrap > .notice_section_01 .wrap .table_notice tbody tr td:nth-of-type(2) {
  text-align: left;
}

.info_05_01_view .company_info_02 .wrap .info_05_01_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0 170px;
}

.info_05_01_view .company_info_02 .wrap .info_05_01_more > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_05_01_view .company_info_02 .wrap .info_05_01_more > p > a {
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 50px;
  border-radius: 80px;
  border: 2px solid #005baa;
  -webkit-transition: .3s;
  transition: .3s;
}

.info_05_01_view .company_info_02 .wrap .info_05_01_more > p > a > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  color: #005baa;
}

.info_05_01_view .company_info_02 .wrap .info_05_01_more > p > a .btn_prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.info_05_01_view .company_info_02 .wrap .info_05_01_more > p > a:first-child, .info_05_01_view .company_info_02 .wrap .info_05_01_more > p > a:last-child {
  opacity: .3;
}

.info_05_01_view .company_info_02 .wrap .info_05_01_more > p > a:first-child:hover, .info_05_01_view .company_info_02 .wrap .info_05_01_more > p > a:last-child:hover {
  opacity: 1;
}

.info_05_02 .company_info_02 {
  width: 70%;
  margin: 180px auto 0;
}

.info_05_02 .company_info_02 .wrap .content_title .title_info_01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info_05_02 .company_info_02 .wrap .content_title .title_info_01 h2 {
  font-size: 4rem;
}

.info_05_02 .company_info_02 .wrap .content_title .title_info_01 .more_page a {
  font-size: 3rem;
  font-weight: bold;
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

.info_05_02 .company_info_02 .wrap .content_title .title_info_01 .more_page a:not(:first-child) {
  margin-left: 50px;
}

.info_05_02 .company_info_02 .wrap .content_title .title_info_01 .more_page a:hover {
  opacity: 1;
}

.info_05_02 .company_info_02 .wrap .content_title .bar {
  width: 100%;
  display: block;
  margin-top: 15px;
  background: #e5e5e5;
  position: relative;
}

.info_05_02 .company_info_02 .wrap .content_title .bar::after {
  content: '';
  display: block;
  background: #005baa;
  width: 100px;
  height: 5px;
}

.info_05_02 .company_info_02 .wrap .section_01 {
  margin: 60px 0 180px;
}

.info_05_02 .company_info_02 .wrap .section_01 .item_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item {
  width: 315px;
  height: 480px;
  border: 1px solid #ddd;
}

.info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a {
  width: 100%;
  height: 100%;
}

.info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure {
  width: 100%;
  height: 100%;
}

.info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure div {
  width: 100%;
  height: 70%;
  background: #ddd;
}

.info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure div img {
  width: 100%;
  height: 100%;
}

.info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption {
  text-align: left;
  padding: 25px 20px;
}

.info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption .project_title {
  font-size: 2rem;
  font-weight: bold;
}

.info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption .project_detail {
  font-size: 1.8rem;
  letter-spacing: -0.45px;
}

.info_05_02 .company_info_02 .wrap .section_01 .info_02_01_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.info_05_02 .company_info_02 .wrap .section_01 .info_02_01_more a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  border-radius: 80px;
  border: 2px solid #005baa;
  -webkit-transition: .3s;
  transition: .3s;
}

.info_05_02 .company_info_02 .wrap .section_01 .info_02_01_more a span {
  font-size: 2rem;
  font-weight: bold;
  color: #005baa;
}

.info_05_02 .company_info_02 .wrap .section_01 .info_02_01_more a:hover {
  opacity: .5;
}
