@media screen and (max-width: 1440px) {
  header .header_wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header_wrap .header_logo {
    margin-left: 40px;
  }
  header .header_wrap .header_center {
    height: 85px;
  }
  header .header_wrap .header_center .header_bg {
    width: 100%;
    height: 340px;
  }
  header .header_wrap .header_center > li {
    width: 17.5%;
    font-size: 1.8rem;
    height: 85px;
    line-height: 85px;
    text-align: center;
  }
  .company_info_01 .wrap .mv_01 {
    height: 480px;
  }
  .company_info_01 .wrap .mv_01 figure {
    background: no-repeat center/cover url("../images/info_mv_01.png");
  }
  .company_info_01 .wrap .mv_01 figure figcaption p:nth-of-type(1) {
    font-size: 5rem;
  }
  .company_info_01 .wrap .mv_01 figure figcaption p:nth-of-type(2) {
    font-size: 1.9rem;
  }
  .company_info_01 .wrap .mv_02 > ul {
    width: 100%;
    margin: 0 auto;
  }
  .company_info_01 .wrap .mv_02 > ul .depth_01 {
    padding: 15px 20px;
  }
  .company_info_01 .wrap .mv_02 > ul .depth_01:not(:first-child) {
    width: 300px;
  }
  .company_info_01 .wrap .mv_02 > ul .depth_01:nth-of-type(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .company_info_01 .wrap .mv_02 > ul .depth_01 .home_ico {
    width: 100px;
    height: 100%;
  }
  .company_info_01 .wrap .mv_02 > ul .depth_01 .home_ico img {
    width: 26px;
    height: 26px;
  }
  .company_info_01 .wrap .mv_02 > ul .depth_01 .depth_nav {
    font-size: 1.9rem;
  }
  .company_info_01 .wrap .mv_02 > ul .depth_01 .depth_02 {
    font-size: 1.6rem;
  }
  .info_01_01 .company_info_02 {
    width: 70%;
  }
  .info_01_01 .company_info_02 .wrap .content_title h2 {
    font-size: 3rem;
  }
  .info_01_01 .company_info_02 .wrap .content_title .bar {
    width: 30%;
  }
  .info_01_01 .company_info_02 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_01_01 .company_info_02 .wrap section {
    margin: 60px 0;
  }
  .info_01_01 .company_info_02 .wrap section > div .content_text {
    margin-left: 50px;
  }
  .info_01_01 .company_info_02 .wrap section > div .content_text .text_title {
    font-size: 3rem;
  }
  .info_01_01 .company_info_02 .wrap section > div .content_text .text_detail {
    font-size: 1.9rem;
  }
  .info_01_01 .company_info_03 {
    width: 70%;
  }
  .info_01_01 .company_info_03 .wrap .content_title h2 {
    font-size: 3rem;
  }
  .info_01_01 .company_info_03 .wrap .content_title .bar {
    width: 30%;
  }
  .info_01_01 .company_info_03 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_01_01 .company_info_03 .wrap .content_title .text_01 {
    font-size: 3rem;
  }
  .info_01_01 .company_info_03 .wrap .content_title .text_02 {
    font-size: 1.9rem;
  }
  .info_01_01 .company_info_03 .wrap .content_item section {
    width: 30%;
    height: 420px;
    border: 3px solid #005baa;
  }
  .info_01_01 .company_info_03 .wrap .content_item section:first-child::after, .info_01_01 .company_info_03 .wrap .content_item section:last-child::after {
    content: '';
    width: 60px;
    height: 60px;
  }
  .info_01_01 .company_info_03 .wrap .content_item section:first-child::after {
    left: -30px;
    bottom: -30px;
  }
  .info_01_01 .company_info_03 .wrap .content_item section:last-child::after {
    right: -30px;
    top: -30px;
  }
  .info_01_01 .company_info_03 .wrap .content_item section figure figcaption {
    font-size: 2.8rem;
  }
  .info_01_01 .company_info_03 .wrap .content_item section figure figcaption strong {
    font-size: 6rem;
  }
  .info_01_01 .company_info_04 {
    width: 70%;
    margin: 180px auto 0;
  }
  .info_01_01 .company_info_04 .wrap .content_title h2 {
    font-size: 3rem;
  }
  .info_01_01 .company_info_04 .wrap .content_title .bar {
    width: 335px;
    display: block;
    margin-top: 15px;
    background: #e5e5e5;
    position: relative;
  }
  .info_01_01 .company_info_04 .wrap .content_title .bar::after {
    content: '';
    display: block;
    background: #005baa;
    width: 100px;
    height: 5px;
  }
  .info_01_01 .company_info_04 .wrap .content_title .text_01 {
    font-size: 4rem;
    margin-top: 80px;
  }
  .info_01_01 .company_info_04 .wrap .content_title .text_02 {
    margin-top: 20px;
    font-size: 2rem;
  }
  .info_01_01 .company_info_04 .wrap .content_item {
    margin-top: 90px;
  }
  .info_01_01 .company_info_04 .wrap .content_item > div .content_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px 0;
  }
  .info_01_01 .company_info_04 .wrap .content_item > div .content_wrap .left {
    position: relative;
    width: 240px;
    height: 240px;
    border: 2px solid #005baa;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 3rem;
    color: #005baa;
    font-weight: bold;
    z-index: 1;
  }
  .info_01_01 .company_info_04 .wrap .content_item > div .content_wrap .left small {
    font-size: 2rem;
    font-weight: 400;
  }
  .info_01_01 .company_info_04 .wrap .content_item > div .content_wrap .right {
    margin-left: -20px;
  }
  .info_01_01 .company_info_04 .wrap .content_item > div:not(:first-child) .left {
    background: #005baa;
    color: #fff;
  }
  .info_01_01 .company_info_04 .wrap .content_item > div:not(:last-child) .left::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    width: 2px;
    height: 200%;
    background: #005baa;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 3;
  }
  .info_01_02 .company_info_02 {
    width: 70%;
  }
  .info_01_02 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 3rem;
  }
  .info_01_02 .company_info_02 .wrap .content_title .title_info_01 .more_page a {
    font-size: 1.7rem;
  }
  .info_01_02 .company_info_02 .wrap .content_title .bar {
    width: 30%;
  }
  .info_01_02 .company_info_02 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_01_02 .company_info_02 .wrap .section_01 > .content_01 .content_text .text_title {
    font-size: 3rem;
  }
  .info_01_02 .company_info_02 .wrap .section_01 > .content_01 .content_text .text_detail {
    font-size: 1.9rem;
  }
  .info_01_02 .company_info_03 {
    width: 70%;
  }
  .info_01_02 .company_info_03 .wrap .content_title .title_info_01 h2 {
    font-size: 3rem;
  }
  .info_01_02 .company_info_03 .wrap .content_title .title_info_01 .more_page a {
    font-size: 1.7rem;
  }
  .info_01_02 .company_info_03 .wrap .content_title .bar {
    width: 30%;
  }
  .info_01_02 .company_info_03 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_01_02 .company_info_03 .wrap .section_01 > div .content_text .text_title {
    font-size: 3rem;
  }
  .info_01_02 .company_info_03 .wrap .section_01 > div .content_text .text_detail {
    font-size: 1.9rem;
  }
  .info_02_01 .company_info_02 {
    width: 70%;
  }
  .info_02_01 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 3rem;
  }
  .info_02_01 .company_info_02 .wrap .content_title .title_info_01 .more_page a {
    font-size: 2.5rem;
  }
  .info_02_01 .company_info_02 .wrap .content_title .title_info_01 .more_page a:not(:first-child) {
    margin-left: 30px;
  }
  .info_02_01 .company_info_02 .wrap .content_title .bar {
    width: 100%;
  }
  .info_02_01 .company_info_02 .wrap .content_title .bar::after {
    width: 100px;
  }
  .info_02_01 .company_info_02 .wrap .section_01 {
    margin: 60px 0 180px;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .item_wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item {
    width: 315px;
    height: 480px;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a {
    width: 100%;
    height: 100%;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure {
    width: 57%;
    height: 37.5%;
    border: 1px solid #ddd;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a figcaption .project_title {
    font-size: 1.9rem;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a figcaption .project_detail {
    font-size: 1.7rem;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .info_02_01_more a {
    width: 200px;
    height: 50px;
    padding: 0 20px;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .info_02_01_more a span {
    font-size: 1.9rem;
  }
  .info_02_02 .company_info_02 {
    width: 70%;
    margin: 180px auto 0;
  }
  .info_02_02 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 3rem;
  }
  .info_02_02 .company_info_02 .wrap .content_title .title_info_01 .more_page a {
    font-size: 2.5rem;
  }
  .info_02_02 .company_info_02 .wrap .content_title .bar {
    width: 100%;
  }
  .info_02_02 .company_info_02 .wrap .content_title .bar::after {
    width: 100px;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item {
    width: 315px;
    height: 480px;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a {
    width: 100%;
    height: 100%;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure {
    width: 100%;
    height: 100%;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption {
    padding: 25px 20px;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption .project_title {
    font-size: 1.9rem;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption .project_detail {
    font-size: 1.7rem;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .info_02_01_more a {
    width: 200px;
    height: 50px;
    padding: 0 20px;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .info_02_01_more a span {
    font-size: 1.9rem;
  }
  .info_02_02_more .company_info_02 {
    width: 70%;
  }
  .info_02_02_more .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 3rem;
  }
  .info_02_02_more .company_info_02 .wrap .content_title .bar {
    width: 100%;
  }
  .info_02_02_more .company_info_02 .wrap .content_title .bar::after {
    width: 100px;
  }
  .info_02_02_more .company_info_02 .wrap .section_01 .item_wrap .section_01_item {
    width: 100%;
    height: 600px;
  }
  .info_02_02_more .company_info_02 .wrap .section_01 .item_wrap .video_text {
    font-size: 1.7rem;
  }
  .info_02_02_more .company_info_02 .wrap .section_01 .info_02_01_more a {
    padding: 0 20px;
    font-size: 1.9rem;
  }
  .info_03_01 .company_info_02 {
    width: 70%;
  }
  .info_03_01 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 3rem;
  }
  .info_03_01 .company_info_02 .wrap .content_title .title_info_01 .more_page a {
    font-size: 1.7rem;
  }
  .info_03_01 .company_info_02 .wrap .content_title .bar {
    width: 30%;
  }
  .info_03_01 .company_info_02 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_03_01 .company_info_02 .wrap .section_01 .content_01 .content_text .text_title strong {
    font-size: 3rem;
  }
  .info_03_01 .company_info_02 .wrap .section_01 .content_01 .content_text .text_title small {
    font-size: 2.5rem;
  }
  .info_03_01 .company_info_02 .wrap .section_01 .content_01 .content_text .text_detail {
    font-size: 1.9rem;
  }
  .info_04_01 .company_info_02 {
    width: 70%;
  }
  .info_04_01 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 3rem;
  }
  .info_04_01 .company_info_02 .wrap .content_title .bar {
    width: 30%;
  }
  .info_04_01 .company_info_02 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_04_01 .company_info_02 .wrap > section .wrap .qna_section h2 {
    font-size: 2.2rem;
    line-height: 2;
  }
  .info_04_01 .company_info_02 .wrap > section .wrap .qna_section p {
    font-size: 1.7rem;
  }
  .info_04_01 .company_info_02 .wrap .info_04_01_more a {
    width: 200px;
    padding: 0 20px;
  }
  .info_04_01 .company_info_02 .wrap .info_04_01_more a span {
    font-size: 1.9rem;
  }
  .info_05_01 .company_info_02 {
    width: 70%;
  }
  .info_05_01 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 3rem;
  }
  .info_05_01 .company_info_02 .wrap .content_title .bar {
    width: 30%;
  }
  .info_05_01 .company_info_02 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_05_01 .company_info_02 .wrap > .notice_section_01 .wrap .table_notice {
    width: 100%;
  }
  .info_05_01 .company_info_02 .wrap > .notice_section_01 .wrap .table_notice thead {
    font-size: 2.2rem;
  }
  .info_05_01 .company_info_02 .wrap > .notice_section_01 .wrap .table_notice tbody {
    font-size: 1.7rem;
  }
  .info_05_01 .company_info_02 .wrap .info_05_01_more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 100px 0 170px;
  }
  .info_05_01 .company_info_02 .wrap .info_05_01_more > p > a {
    margin: 0 5px;
    width: 60px;
    height: 50px;
  }
  .info_05_01 .company_info_02 .wrap .info_05_01_more > p > a > span {
    font-size: 1.9rem;
  }
  .info_05_01_view .company_info_02 {
    width: 70%;
  }
  .info_05_01_view .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 3rem;
  }
  .info_05_01_view .company_info_02 .wrap .content_title .bar {
    width: 30%;
  }
  .info_05_01_view .company_info_02 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_05_01_view .company_info_02 .wrap > .notice_section_01 .wrap .table_notice thead {
    font-size: 2.2rem;
  }
  .info_05_01_view .company_info_02 .wrap > .notice_section_01 .wrap .table_notice tbody {
    font-size: 1.7rem;
  }
  .info_05_01_view .company_info_02 .wrap .info_05_01_more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 100px 0 170px;
  }
  .info_05_01_view .company_info_02 .wrap .info_05_01_more > p > a {
    margin: 0 5px;
    width: 60px;
    height: 50px;
  }
  .info_05_01_view .company_info_02 .wrap .info_05_01_more > p > a > span {
    font-size: 1.9rem;
  }
  .info_05_02 .company_info_02 {
    width: 70%;
  }
  .info_05_02 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 3rem;
  }
  .info_05_02 .company_info_02 .wrap .content_title .bar {
    width: 100%;
  }
  .info_05_02 .company_info_02 .wrap .content_title .bar::after {
    width: 100px;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .item_wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item {
    width: 315px;
    height: 480px;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a {
    width: 100%;
    height: 100%;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption {
    text-align: left;
    padding: 25px 20px;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption .project_title {
    font-size: 1.9rem;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption .project_detail {
    font-size: 1.7rem;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .info_02_01_more a {
    width: 200px;
    height: 50px;
    padding: 0 20px;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .info_02_01_more a span {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 1023px) {
  header .header_wrap .header_logo {
    margin-left: 40px;
  }
  header .header_wrap .header_center {
    width: 100%;
    height: 85px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header_wrap .header_center .header_bg {
    width: 100%;
    height: 340px;
  }
  header .header_wrap .header_center > li {
    width: 17.5%;
    font-size: 1.6rem;
    height: 85px;
    line-height: 85px;
  }
  header .header_wrap .header_center > li .depth_01 {
    font-size: 1.4rem;
  }
  .company_info_01 .wrap .mv_01 {
    height: 400px;
  }
  .company_info_01 .wrap .mv_01 figure {
    background: no-repeat center/cover url("../images/info_mv_01.png");
  }
  .company_info_01 .wrap .mv_01 figure figcaption p:nth-of-type(1) {
    font-size: 4rem;
  }
  .company_info_01 .wrap .mv_01 figure figcaption p:nth-of-type(2) {
    font-size: 1.8rem;
  }
  .company_info_01 .wrap .mv_02 > ul {
    width: 100%;
  }
  .company_info_01 .wrap .mv_02 > ul .depth_01:not(:first-child) {
    width: 300px;
  }
  .company_info_01 .wrap .mv_02 > ul .depth_01 .home_ico {
    width: 100px;
    height: 100%;
  }
  .company_info_01 .wrap .mv_02 > ul .depth_01 .home_ico img {
    width: 20px;
    height: 20px;
  }
  .company_info_01 .wrap .mv_02 > ul .depth_01 .depth_nav {
    font-size: 1.8rem;
  }
  .company_info_01 .wrap .mv_02 > ul .depth_01 .depth_02 {
    font-size: 1.5rem;
  }
  .info_01_01 .company_info_02 {
    width: 70%;
  }
  .info_01_01 .company_info_02 .wrap .content_title h2 {
    font-size: 3rem;
  }
  .info_01_01 .company_info_02 .wrap .content_title .bar {
    width: 30%;
  }
  .info_01_01 .company_info_02 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_01_01 .company_info_02 .wrap section {
    margin: 60px 0;
  }
  .info_01_01 .company_info_02 .wrap section > div .content_text {
    margin-left: 50px;
  }
  .info_01_01 .company_info_02 .wrap section > div .content_text .text_title {
    font-size: 3rem;
  }
  .info_01_01 .company_info_02 .wrap section > div .content_text .text_detail {
    font-size: 1.9rem;
  }
  .info_01_01 .company_info_03 {
    width: 70%;
  }
  .info_01_01 .company_info_03 .wrap .content_title h2 {
    font-size: 3rem;
  }
  .info_01_01 .company_info_03 .wrap .content_title .bar {
    width: 30%;
  }
  .info_01_01 .company_info_03 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_01_01 .company_info_03 .wrap .content_title .text_01 {
    font-size: 3rem;
  }
  .info_01_01 .company_info_03 .wrap .content_title .text_02 {
    font-size: 1.9rem;
  }
  .info_01_01 .company_info_03 .wrap .content_item section {
    width: 30%;
    height: 420px;
    border: 3px solid #005baa;
  }
  .info_01_01 .company_info_03 .wrap .content_item section:first-child::after, .info_01_01 .company_info_03 .wrap .content_item section:last-child::after {
    content: '';
    width: 60px;
    height: 60px;
  }
  .info_01_01 .company_info_03 .wrap .content_item section:first-child::after {
    left: -30px;
    bottom: -30px;
  }
  .info_01_01 .company_info_03 .wrap .content_item section:last-child::after {
    right: -30px;
    top: -30px;
  }
  .info_01_01 .company_info_03 .wrap .content_item section figure figcaption {
    font-size: 2.8rem;
  }
  .info_01_01 .company_info_03 .wrap .content_item section figure figcaption strong {
    font-size: 6rem;
  }
  .info_01_01 .company_info_04 {
    width: 70%;
    margin: 180px auto 0;
  }
  .info_01_01 .company_info_04 .wrap .content_title h2 {
    font-size: 3rem;
  }
  .info_01_01 .company_info_04 .wrap .content_title .bar {
    width: 335px;
    display: block;
    margin-top: 15px;
    background: #e5e5e5;
    position: relative;
  }
  .info_01_01 .company_info_04 .wrap .content_title .bar::after {
    content: '';
    display: block;
    background: #005baa;
    width: 100px;
    height: 5px;
  }
  .info_01_01 .company_info_04 .wrap .content_title .text_01 {
    font-size: 4rem;
    margin-top: 80px;
  }
  .info_01_01 .company_info_04 .wrap .content_title .text_02 {
    margin-top: 20px;
    font-size: 2rem;
  }
  .info_01_01 .company_info_04 .wrap .content_item {
    margin-top: 90px;
  }
  .info_01_01 .company_info_04 .wrap .content_item > div .content_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px 0;
  }
  .info_01_01 .company_info_04 .wrap .content_item > div .content_wrap .left {
    position: relative;
    width: 240px;
    height: 240px;
    border: 2px solid #005baa;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 3rem;
    color: #005baa;
    font-weight: bold;
    z-index: 1;
  }
  .info_01_01 .company_info_04 .wrap .content_item > div .content_wrap .left small {
    font-size: 2rem;
    font-weight: 400;
  }
  .info_01_01 .company_info_04 .wrap .content_item > div .content_wrap .right {
    margin-left: -20px;
  }
  .info_01_01 .company_info_04 .wrap .content_item > div:not(:first-child) .left {
    background: #005baa;
    color: #fff;
  }
  .info_01_01 .company_info_04 .wrap .content_item > div:not(:last-child) .left::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    width: 2px;
    height: 200%;
    background: #005baa;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 3;
  }
  .info_01_02 .company_info_02 {
    width: 85%;
  }
  .info_01_02 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 2.5rem;
  }
  .info_01_02 .company_info_02 .wrap .content_title .title_info_01 .more_page a {
    font-size: 1.6rem;
  }
  .info_01_02 .company_info_02 .wrap .content_title .bar {
    width: 30%;
  }
  .info_01_02 .company_info_02 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_01_02 .company_info_02 .wrap .section_01 > .content_01 .content_text .text_title {
    font-size: 2.5rem;
  }
  .info_01_02 .company_info_02 .wrap .section_01 > .content_01 .content_text .text_detail {
    font-size: 1.8rem;
  }
  .info_01_02 .company_info_03 {
    width: 85%;
  }
  .info_01_02 .company_info_03 .wrap .content_title .title_info_01 h2 {
    font-size: 2.5rem;
  }
  .info_01_02 .company_info_03 .wrap .content_title .title_info_01 .more_page a {
    font-size: 1.6rem;
  }
  .info_01_02 .company_info_03 .wrap .content_title .bar {
    width: 30%;
  }
  .info_01_02 .company_info_03 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_01_02 .company_info_03 .wrap .section_01 > div .content_text .text_title {
    font-size: 2.5rem;
  }
  .info_01_02 .company_info_03 .wrap .section_01 > div .content_text .text_detail {
    font-size: 1.8rem;
  }
  .info_02_01 .company_info_02 {
    width: 85%;
  }
  .info_02_01 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 2.5rem;
  }
  .info_02_01 .company_info_02 .wrap .content_title .title_info_01 .more_page a {
    font-size: 2rem;
  }
  .info_02_01 .company_info_02 .wrap .content_title .title_info_01 .more_page a:not(:first-child) {
    margin-left: 30px;
  }
  .info_02_01 .company_info_02 .wrap .content_title .bar {
    width: 100%;
  }
  .info_02_01 .company_info_02 .wrap .content_title .bar::after {
    width: 100px;
  }
  .info_02_01 .company_info_02 .wrap .section_01 {
    margin: 60px 0 180px;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .item_wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item {
    width: 315px;
    height: 480px;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a {
    width: 100%;
    height: 100%;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure {
    width: 57%;
    height: 37.5%;
    border: 1px solid #ddd;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a figcaption .project_title {
    font-size: 1.8rem;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a figcaption .project_detail {
    font-size: 1.6rem;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .info_02_01_more a {
    width: 200px;
    height: 50px;
    padding: 0 20px;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .info_02_01_more a span {
    font-size: 1.8rem;
  }
  .info_02_02 .company_info_02 {
    width: 85%;
    margin: 180px auto 0;
  }
  .info_02_02 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 2.5rem;
  }
  .info_02_02 .company_info_02 .wrap .content_title .title_info_01 .more_page a {
    font-size: 2rem;
  }
  .info_02_02 .company_info_02 .wrap .content_title .bar {
    width: 100%;
  }
  .info_02_02 .company_info_02 .wrap .content_title .bar::after {
    width: 100px;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item {
    width: 315px;
    height: 480px;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a {
    width: 100%;
    height: 100%;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure {
    width: 100%;
    height: 100%;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption {
    padding: 25px 20px;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption .project_title {
    font-size: 1.8rem;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption .project_detail {
    font-size: 1.6rem;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .info_02_01_more a {
    width: 200px;
    height: 50px;
    padding: 0 20px;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .info_02_01_more a span {
    font-size: 1.8rem;
  }
  .info_02_02_more .company_info_02 {
    width: 85%;
  }
  .info_02_02_more .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 2.5rem;
  }
  .info_02_02_more .company_info_02 .wrap .content_title .bar {
    width: 100%;
  }
  .info_02_02_more .company_info_02 .wrap .content_title .bar::after {
    width: 100px;
  }
  .info_02_02_more .company_info_02 .wrap .section_01 .item_wrap .section_01_item {
    width: 100%;
    height: 600px;
  }
  .info_02_02_more .company_info_02 .wrap .section_01 .item_wrap .video_text {
    font-size: 1.6rem;
  }
  .info_02_02_more .company_info_02 .wrap .section_01 .info_02_01_more a {
    padding: 0 20px;
    font-size: 1.8rem;
  }
  .info_03_01 .company_info_02 {
    width: 85%;
  }
  .info_03_01 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 2.5rem;
  }
  .info_03_01 .company_info_02 .wrap .content_title .title_info_01 .more_page a {
    font-size: 1.6rem;
  }
  .info_03_01 .company_info_02 .wrap .content_title .bar {
    width: 30%;
  }
  .info_03_01 .company_info_02 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_03_01 .company_info_02 .wrap .section_01 .content_01 .content_text .text_title strong {
    font-size: 2.5rem;
  }
  .info_03_01 .company_info_02 .wrap .section_01 .content_01 .content_text .text_title small {
    font-size: 2rem;
  }
  .info_03_01 .company_info_02 .wrap .section_01 .content_01 .content_text .text_detail {
    font-size: 1.8rem;
  }
  .info_04_01 .company_info_02 {
    width: 85%;
  }
  .info_04_01 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 2.5rem;
  }
  .info_04_01 .company_info_02 .wrap .content_title .bar {
    width: 30%;
  }
  .info_04_01 .company_info_02 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_04_01 .company_info_02 .wrap > section .wrap .qna_section h2 {
    font-size: 2rem;
  }
  .info_04_01 .company_info_02 .wrap > section .wrap .qna_section p {
    font-size: 1.6rem;
  }
  .info_04_01 .company_info_02 .wrap .info_04_01_more a {
    width: 200px;
    padding: 0 20px;
  }
  .info_04_01 .company_info_02 .wrap .info_04_01_more a span {
    font-size: 1.8rem;
  }
  .info_05_01 .company_info_02 {
    width: 85%;
  }
  .info_05_01 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 2.5rem;
  }
  .info_05_01 .company_info_02 .wrap .content_title .bar {
    width: 30%;
  }
  .info_05_01 .company_info_02 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_05_01 .company_info_02 .wrap > .notice_section_01 .wrap .table_notice {
    width: 100%;
  }
  .info_05_01 .company_info_02 .wrap > .notice_section_01 .wrap .table_notice thead {
    font-size: 2rem;
  }
  .info_05_01 .company_info_02 .wrap > .notice_section_01 .wrap .table_notice tbody {
    font-size: 1.6rem;
  }
  .info_05_01 .company_info_02 .wrap .info_05_01_more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 100px 0 170px;
  }
  .info_05_01 .company_info_02 .wrap .info_05_01_more > p > a {
    margin: 0 5px;
    width: 50px;
    height: 40px;
  }
  .info_05_01 .company_info_02 .wrap .info_05_01_more > p > a > span {
    font-size: 1.8rem;
  }
  .info_05_01_view .company_info_02 {
    width: 85%;
  }
  .info_05_01_view .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 2.5rem;
  }
  .info_05_01_view .company_info_02 .wrap .content_title .bar {
    width: 30%;
  }
  .info_05_01_view .company_info_02 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_05_01_view .company_info_02 .wrap > .notice_section_01 .wrap .table_notice thead {
    font-size: 2rem;
  }
  .info_05_01_view .company_info_02 .wrap > .notice_section_01 .wrap .table_notice tbody {
    font-size: 1.6rem;
  }
  .info_05_01_view .company_info_02 .wrap .info_05_01_more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 100px 0 170px;
  }
  .info_05_01_view .company_info_02 .wrap .info_05_01_more > p > a {
    margin: 0 5px;
    width: 50px;
    height: 40px;
  }
  .info_05_01_view .company_info_02 .wrap .info_05_01_more > p > a > span {
    font-size: 1.8rem;
  }
  .info_05_02 .company_info_02 {
    width: 85%;
  }
  .info_05_02 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 2.5rem;
  }
  .info_05_02 .company_info_02 .wrap .content_title .bar {
    width: 100%;
  }
  .info_05_02 .company_info_02 .wrap .content_title .bar::after {
    width: 100px;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .item_wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item {
    width: 315px;
    height: 480px;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a {
    width: 100%;
    height: 100%;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption {
    text-align: left;
    padding: 25px 20px;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption .project_title {
    font-size: 1.8rem;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption .project_detail {
    font-size: 1.6rem;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .info_02_01_more a {
    width: 200px;
    height: 50px;
    padding: 0 20px;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .info_02_01_more a span {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 767px) {
  header .header_wrap {
    width: 90%;
    height: 85px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header_wrap .header_logo {
    margin-left: 0;
  }
  header .header_wrap .header_center {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header_wrap .header_center .header_bg {
    width: 100%;
    height: 340px;
  }
  header .header_wrap .header_center > li {
    width: 20%;
    font-size: 1.6rem;
    height: 85px;
    line-height: 85px;
  }
  header .header_wrap .header_center > li .depth_01 {
    font-size: 1.4rem;
  }
  header .header_wrap .header_right {
    display: block;
  }
  .company_info_01 .wrap .mv_01 {
    height: 400px;
  }
  .company_info_01 .wrap .mv_01 figure {
    background: no-repeat center/cover url("../images/info_mv_01.png");
  }
  .company_info_01 .wrap .mv_01 figure figcaption p:nth-of-type(1) {
    font-size: 3rem;
  }
  .company_info_01 .wrap .mv_01 figure figcaption p:nth-of-type(2) {
    font-size: 1.7rem;
  }
  .company_info_01 .wrap .mv_02 > ul {
    width: 100%;
  }
  .company_info_01 .wrap .mv_02 > ul .depth_01 {
    padding: 10px 20px;
  }
  .company_info_01 .wrap .mv_02 > ul .depth_01:not(:first-child) {
    width: 100%;
  }
  .company_info_01 .wrap .mv_02 > ul .depth_01 .home_ico img {
    width: 15px;
    height: 15px;
  }
  .company_info_01 .wrap .mv_02 > ul .depth_01 .depth_nav {
    font-size: 1.6rem;
  }
  .company_info_01 .wrap .mv_02 > ul .depth_01 .depth_02 {
    font-size: 1.3rem;
  }
  .company_info_01 .wrap .mv_02 > ul .depth_01 .depth_02 li a {
    padding: 10px;
  }
  .info_01_01 .company_info_02 {
    width: 70%;
  }
  .info_01_01 .company_info_02 .wrap .content_title h2 {
    font-size: 3rem;
  }
  .info_01_01 .company_info_02 .wrap .content_title .bar {
    width: 30%;
  }
  .info_01_01 .company_info_02 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_01_01 .company_info_02 .wrap section {
    margin: 60px 0;
  }
  .info_01_01 .company_info_02 .wrap section > div .content_text {
    margin-left: 50px;
  }
  .info_01_01 .company_info_02 .wrap section > div .content_text .text_title {
    font-size: 3rem;
  }
  .info_01_01 .company_info_02 .wrap section > div .content_text .text_detail {
    font-size: 1.9rem;
  }
  .info_01_01 .company_info_03 {
    width: 70%;
  }
  .info_01_01 .company_info_03 .wrap .content_title h2 {
    font-size: 3rem;
  }
  .info_01_01 .company_info_03 .wrap .content_title .bar {
    width: 30%;
  }
  .info_01_01 .company_info_03 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_01_01 .company_info_03 .wrap .content_title .text_01 {
    font-size: 3rem;
  }
  .info_01_01 .company_info_03 .wrap .content_title .text_02 {
    font-size: 1.9rem;
  }
  .info_01_01 .company_info_03 .wrap .content_item section {
    width: 30%;
    height: 420px;
    border: 3px solid #005baa;
  }
  .info_01_01 .company_info_03 .wrap .content_item section:first-child::after, .info_01_01 .company_info_03 .wrap .content_item section:last-child::after {
    content: '';
    width: 60px;
    height: 60px;
  }
  .info_01_01 .company_info_03 .wrap .content_item section:first-child::after {
    left: -30px;
    bottom: -30px;
  }
  .info_01_01 .company_info_03 .wrap .content_item section:last-child::after {
    right: -30px;
    top: -30px;
  }
  .info_01_01 .company_info_03 .wrap .content_item section figure figcaption {
    font-size: 2.8rem;
  }
  .info_01_01 .company_info_03 .wrap .content_item section figure figcaption strong {
    font-size: 6rem;
  }
  .info_01_01 .company_info_04 {
    width: 70%;
    margin: 180px auto 0;
  }
  .info_01_01 .company_info_04 .wrap .content_title h2 {
    font-size: 3rem;
  }
  .info_01_01 .company_info_04 .wrap .content_title .bar {
    width: 335px;
    display: block;
    margin-top: 15px;
    background: #e5e5e5;
    position: relative;
  }
  .info_01_01 .company_info_04 .wrap .content_title .bar::after {
    content: '';
    display: block;
    background: #005baa;
    width: 100px;
    height: 5px;
  }
  .info_01_01 .company_info_04 .wrap .content_title .text_01 {
    font-size: 4rem;
    margin-top: 80px;
  }
  .info_01_01 .company_info_04 .wrap .content_title .text_02 {
    margin-top: 20px;
    font-size: 2rem;
  }
  .info_01_01 .company_info_04 .wrap .content_item {
    margin-top: 90px;
  }
  .info_01_01 .company_info_04 .wrap .content_item > div .content_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px 0;
  }
  .info_01_01 .company_info_04 .wrap .content_item > div .content_wrap .left {
    position: relative;
    width: 240px;
    height: 240px;
    border: 2px solid #005baa;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 3rem;
    color: #005baa;
    font-weight: bold;
    z-index: 1;
  }
  .info_01_01 .company_info_04 .wrap .content_item > div .content_wrap .left small {
    font-size: 2rem;
    font-weight: 400;
  }
  .info_01_01 .company_info_04 .wrap .content_item > div .content_wrap .right {
    margin-left: -20px;
  }
  .info_01_01 .company_info_04 .wrap .content_item > div:not(:first-child) .left {
    background: #005baa;
    color: #fff;
  }
  .info_01_01 .company_info_04 .wrap .content_item > div:not(:last-child) .left::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    width: 2px;
    height: 200%;
    background: #005baa;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 3;
  }
  .info_01_02 .company_info_02 {
    width: 85%;
  }
  .info_01_02 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 2rem;
  }
  .info_01_02 .company_info_02 .wrap .content_title .title_info_01 .more_page a {
    font-size: 1.5rem;
    padding: 10px 20px;
  }
  .info_01_02 .company_info_02 .wrap .content_title .bar {
    width: 30%;
  }
  .info_01_02 .company_info_02 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_01_02 .company_info_02 .wrap .section_01 > .content_01 .content_text .text_title {
    font-size: 2rem;
  }
  .info_01_02 .company_info_02 .wrap .section_01 > .content_01 .content_text .text_detail {
    font-size: 1.7rem;
  }
  .info_01_02 .company_info_02 .wrap .section_02 {
    margin-top: 100px;
  }
  .info_01_02 .company_info_03 {
    width: 85%;
  }
  .info_01_02 .company_info_03 .wrap .content_title .title_info_01 h2 {
    font-size: 2rem;
  }
  .info_01_02 .company_info_03 .wrap .content_title .title_info_01 .more_page a {
    font-size: 1.5rem;
    padding: 10px 20px;
  }
  .info_01_02 .company_info_03 .wrap .content_title .bar {
    width: 30%;
  }
  .info_01_02 .company_info_03 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_01_02 .company_info_03 .wrap .section_01 > div .content_text .text_title {
    font-size: 2rem;
  }
  .info_01_02 .company_info_03 .wrap .section_01 > div .content_text .text_detail {
    font-size: 1.7rem;
  }
  .info_02_01 .company_info_02 {
    width: 85%;
  }
  .info_02_01 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 2rem;
  }
  .info_02_01 .company_info_02 .wrap .content_title .title_info_01 .more_page a {
    font-size: 1.9rem;
  }
  .info_02_01 .company_info_02 .wrap .content_title .title_info_01 .more_page a:not(:first-child) {
    margin-left: 20px;
  }
  .info_02_01 .company_info_02 .wrap .content_title .bar {
    width: 100%;
  }
  .info_02_01 .company_info_02 .wrap .content_title .bar::after {
    width: 100px;
  }
  .info_02_01 .company_info_02 .wrap .section_01 {
    margin: 60px 0 180px;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .item_wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item {
    width: 315px;
    height: 480px;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a {
    width: 100%;
    height: 100%;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure {
    width: 57%;
    height: 37.5%;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a figcaption .project_title {
    font-size: 1.7rem;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a figcaption .project_detail {
    font-size: 1.5rem;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .info_02_01_more a {
    width: 150px;
    height: 50px;
    padding: 0 20px;
  }
  .info_02_01 .company_info_02 .wrap .section_01 .info_02_01_more a span {
    font-size: 1.7rem;
  }
  .info_02_02 .company_info_02 {
    width: 85%;
    margin: 180px auto 0;
  }
  .info_02_02 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 2rem;
  }
  .info_02_02 .company_info_02 .wrap .content_title .title_info_01 .more_page a {
    font-size: 1.9rem;
  }
  .info_02_02 .company_info_02 .wrap .content_title .title_info_01 .more_page a:not(:first-child) {
    margin-left: 20px;
  }
  .info_02_02 .company_info_02 .wrap .content_title .bar {
    width: 100%;
  }
  .info_02_02 .company_info_02 .wrap .content_title .bar::after {
    width: 100px;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item {
    width: 315px;
    height: 480px;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a {
    width: 100%;
    height: 100%;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure {
    width: 100%;
    height: 100%;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption {
    padding: 25px 20px;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption .project_title {
    font-size: 1.7rem;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption .project_detail {
    font-size: 1.5rem;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .info_02_01_more a {
    width: 150px;
    height: 50px;
    padding: 0 20px;
  }
  .info_02_02 .company_info_02 .wrap .section_01 .info_02_01_more a span {
    font-size: 1.7rem;
  }
  .info_02_02_more .company_info_02 {
    width: 85%;
  }
  .info_02_02_more .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 2rem;
  }
  .info_02_02_more .company_info_02 .wrap .content_title .bar {
    width: 100%;
  }
  .info_02_02_more .company_info_02 .wrap .content_title .bar::after {
    width: 100px;
  }
  .info_02_02_more .company_info_02 .wrap .section_01 .item_wrap .section_01_item {
    width: 100%;
    height: 600px;
  }
  .info_02_02_more .company_info_02 .wrap .section_01 .item_wrap .video_text {
    font-size: 1.5rem;
  }
  .info_02_02_more .company_info_02 .wrap .section_01 .info_02_01_more a {
    padding: 0 20px;
    font-size: 1.7rem;
  }
  .info_03_01 .company_info_02 {
    width: 85%;
  }
  .info_03_01 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 2rem;
  }
  .info_03_01 .company_info_02 .wrap .content_title .title_info_01 .more_page a {
    font-size: 1.5rem;
    padding: 10px 20px;
  }
  .info_03_01 .company_info_02 .wrap .content_title .bar {
    width: 30%;
  }
  .info_03_01 .company_info_02 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_03_01 .company_info_02 .wrap .section_01 .content_01 .content_text .text_title strong {
    font-size: 2rem;
  }
  .info_03_01 .company_info_02 .wrap .section_01 .content_01 .content_text .text_title small {
    font-size: 1.8rem;
  }
  .info_03_01 .company_info_02 .wrap .section_01 .content_01 .content_text .text_detail {
    font-size: 1.6rem;
  }
  .info_04_01 .company_info_02 {
    width: 85%;
  }
  .info_04_01 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 2rem;
  }
  .info_04_01 .company_info_02 .wrap .content_title .bar {
    width: 30%;
  }
  .info_04_01 .company_info_02 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_04_01 .company_info_02 .wrap > section .wrap .qna_section h2 {
    font-size: 1.8rem;
  }
  .info_04_01 .company_info_02 .wrap > section .wrap .qna_section p {
    font-size: 1.5rem;
  }
  .info_04_01 .company_info_02 .wrap .info_04_01_more a {
    width: 150px;
    padding: 0 20px;
  }
  .info_04_01 .company_info_02 .wrap .info_04_01_more a span {
    font-size: 1.7rem;
  }
  .info_05_01 .company_info_02 {
    width: 85%;
  }
  .info_05_01 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 2rem;
  }
  .info_05_01 .company_info_02 .wrap .content_title .bar {
    width: 30%;
  }
  .info_05_01 .company_info_02 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_05_01 .company_info_02 .wrap > .notice_section_01 .wrap .table_notice {
    width: 100%;
  }
  .info_05_01 .company_info_02 .wrap > .notice_section_01 .wrap .table_notice thead {
    font-size: 1.8rem;
  }
  .info_05_01 .company_info_02 .wrap > .notice_section_01 .wrap .table_notice tbody {
    font-size: 1.5rem;
  }
  .info_05_01 .company_info_02 .wrap > .notice_section_01 .wrap .table_notice tbody tr td:nth-of-type(2) {
    padding: 10px 20px;
  }
  .info_05_01 .company_info_02 .wrap .info_05_01_more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 100px 0 170px;
  }
  .info_05_01 .company_info_02 .wrap .info_05_01_more > p > a {
    margin: 0 5px;
    width: 50px;
    height: 40px;
  }
  .info_05_01 .company_info_02 .wrap .info_05_01_more > p > a > span {
    font-size: 1.7rem;
  }
  .info_05_01_view .company_info_02 {
    width: 85%;
  }
  .info_05_01_view .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 2rem;
  }
  .info_05_01_view .company_info_02 .wrap .content_title .bar {
    width: 30%;
  }
  .info_05_01_view .company_info_02 .wrap .content_title .bar::after {
    width: 30%;
  }
  .info_05_01_view .company_info_02 .wrap > .notice_section_01 .wrap .table_notice thead {
    font-size: 1.9rem;
  }
  .info_05_01_view .company_info_02 .wrap > .notice_section_01 .wrap .table_notice thead tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info_05_01_view .company_info_02 .wrap > .notice_section_01 .wrap .table_notice thead tr th:nth-of-type(2) {
    text-align: right;
  }
  .info_05_01_view .company_info_02 .wrap > .notice_section_01 .wrap .table_notice tbody {
    font-size: 1.5rem;
  }
  .info_05_01_view .company_info_02 .wrap .info_05_01_more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 100px 0 170px;
  }
  .info_05_01_view .company_info_02 .wrap .info_05_01_more > p > a {
    margin: 0 5px;
    width: 50px;
    height: 40px;
  }
  .info_05_01_view .company_info_02 .wrap .info_05_01_more > p > a > span {
    font-size: 1.7rem;
  }
  .info_05_02 .company_info_02 {
    width: 85%;
  }
  .info_05_02 .company_info_02 .wrap .content_title .title_info_01 h2 {
    font-size: 2rem;
  }
  .info_05_02 .company_info_02 .wrap .content_title .bar {
    width: 100%;
  }
  .info_05_02 .company_info_02 .wrap .content_title .bar::after {
    width: 100px;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .item_wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item {
    width: 315px;
    height: 480px;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a {
    width: 100%;
    height: 100%;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption {
    text-align: left;
    padding: 25px 20px;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption .project_title {
    font-size: 1.7rem;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .item_wrap > .section_01_item a > figure figcaption .project_detail {
    font-size: 1.5rem;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .info_02_01_more a {
    width: 150px;
    height: 50px;
    padding: 0 15px;
  }
  .info_05_02 .company_info_02 .wrap .section_01 .info_02_01_more a span {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 479px) {
  header .header_wrap {
    width: 90%;
    height: 85px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header_wrap .header_logo {
    margin-left: 0;
  }
  header .header_wrap .header_right {
    display: block;
  }
  header .header_wrap .header_right {
    width: 20px;
    height: 20px;
  }
  header .header_wrap .header_right span {
    width: 20px;
    border-bottom: 2px solid #000;
  }
  .header_background_menu > ul {
    width: 100%;
    height: 60%;
  }
  .header_background_menu > ul > li {
    width: 100%;
  }
  .header_background_menu > ul > li > a {
    font-size: 2rem;
  }
  .header_background_menu > ul > li > a:hover {
    color: #005baa;
  }
  .header_background_menu > ul > li .m_depth_01 li a {
    font-size: 1.4rem;
  }
  .header_background_menu > ul > li .m_depth_01 li a:hover {
    color: #005baa;
  }
  .header_background_menu > ul > li:hover .m_depth_01 {
    opacity: 1;
  }
  .header_background_menu.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
