
// 01_02 사업소개_운영기관

.company_info_01 {
    .wrap{
        .mv_01{
            height:480px;
            figure {
                position: relative;
                height: 100%;
                background: no-repeat center / cover url("../images/info_mv_01.png");
                img{}
                figcaption{
                    position: absolute; left: 50%; top: 50%;
                    transform: translate(-50%, -50%);
                    color: #fff;
                    text-align: center;
                    p:nth-of-type(1){
                        font-size: 6rem;
                    }
                    p:nth-of-type(2){
                        font-size: 2rem;
                    }
        
                }
            }
        }
        
        .mv_02{
            border: 1px solid #ddd;
            border-top: none;
            
            > ul {
                width: 70%; margin: 0 auto;
                display: flex;
                
                .depth_01{

                    position: relative;
                    overflow: hidden;
                    padding: 25px 20px;
                    border-right: 1px solid #ddd;
                    &:not(:first-child){
                        width: 300px;
                    }
           
                    .home_ico{
                        display: block;
                        width: 100%; height: 100%;
                        img{
                            width: 26px; height:26px;

                        }
                    }
                    .depth_nav{
                        font-size: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .arrow {
                            display: flex;
                        }
                        span:nth-of-type(1){
                            display:block;
                            text-align: center;
                            width:100%
                        }
                    }

                    .depth_02{
                        position: absolute;
                        left:0; top: 100%;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        li {
                            width: 100%; height: 100%;
                            text-align: center;
                            a{
                                display: block;
                                border: 1px solid #ddd;
                                width: 100%; height: 100%;
                                padding: 20px;
                                transition: .3s;
                                &:hover {
                                    background: #005baa;
                                    color: #fff;
                                }

                            }
                        }
                    }
                    &:hover { 
                        overflow: visible;
                    }
                }
            }
        }
    }
    
}


.company_info_02{
    width: 70%; margin: 180px auto 0;
    .wrap{
        .content_title {
            .title_info_01{
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {font-size: 4rem; }
                .more_page{
                    border: 1px solid #005baa;
                    border-radius: 80px;
                    transition: .3s;
                    a{
                        display: block;
                        font-size: 1.8rem;
                        padding: 15px 20px;
                        color: #005baa;
                        font-weight: bold;
                    }
                    &:hover {
                        opacity: .7;
                    }
                }

            }
            .bar{
                width: 335px;
                display: block;
                margin-top: 15px;
                background: #e5e5e5;
                position: relative;
                &::after {
                    content: '';
                    display: block;
                    background: #005baa;
                    width: 100px;
                    height: 5px;
                }
            }
        }

        .section_01{
            margin: 60px 0;
           
            > .content_01{
                display: flex;
                .content_logo{
                    figure{
                        img{}
                    }
                }            

                .content_text{
                    margin-left: 50px;
                    .text_title{
                        font-size: 4rem;
                        line-height: 1.2;
                        strong{
                            color: #000;
                        }
                    }

                    .text_detail{
                        font-size: 2rem;
                        margin-top: 20px;
                        line-height: 1.6;
                    }
                }

            }
        }

        .section_02{
            > figure {
                width: 100%;
                img{
                    width:100%;
                }
            }
        }
    }
}


.company_info_03{
    width: 70%; margin: 180px auto 0;
    .wrap{
        .content_title {
            .title_info_01{
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {font-size: 4rem; }
                .more_page{
                    border: 1px solid #005baa;
                    border-radius: 80px;
                    transition: .3s;
                    a{
                        display: block;
                        font-size: 1.8rem;
                        padding: 15px 20px;
                        color: #005baa;
                        font-weight: bold;
                    }
                    &:hover {
                        opacity: .7;
                    }
                }

            }
            .bar{
                width: 335px;
                display: block;
                margin-top: 15px;
                background: #e5e5e5;
                position: relative;
                &::after {
                    content: '';
                    display: block;
                    background: #005baa;
                    width: 100px;
                    height: 5px;
                }
            }
        }

        .section_01{
            margin: 60px 0;
           
            > div{
                display: flex;
                .content_logo{
                    figure{
                        img{}
                    }
                }            

                .content_text{
                    margin-left: 50px;
                    .text_title{
                        font-size: 4rem;
                        line-height: 1.2;
                        strong{
                            color: #000;
                        }
                    }

                    .text_detail{
                        font-size: 2rem;
                        margin-top: 20px;
                        line-height: 1.6;
                    }
                }

            }
        }
        .section_02{
            > figure {
                width: 100%;
                img{
                    width:100%;
                }
            }
        }

    }
}